<!DOCTYPE html>
<html lang="en-gb">
<head>
    <title>@SettingHelper.Get("Website Name"): @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="description" content="@SettingHelper.Get("Description Meta Tag")">
    <meta name="theme-color" content="@ThemeHelper.GetThemeColour()">

    @RenderSection("Styles", false)
    @Styles.Render("~/Plugins/Bootstrap/Styles")
    @Styles.Render("~/Plugins/FontAwesome/Styles")
    @Styles.Render("~/Resources/CSS/Framework")
    @Styles.Render("~/Plugins/HoverCSS/Styles")
    @Styles.Render("~/Plugins/Animate/Styles")

    @if (UserHelper.IsAdmin)
    {
        @Styles.Render("~/Resources/CSS/Framework/Administration")
    }

    @if (UserHelper.IsEditor)
    {
        @Styles.Render("~/Resources/CSS/Framework/Editor")
    }

    <link href="@Url.Action("Render", "Theme", new { area = "PageBuilder" })" rel="stylesheet" type="text/css" />

    @Scripts.Render("~/Plugins/JQuery/Scripts")
    @Scripts.Render("~/Plugins/JQueryUI/Scripts")
    @Scripts.Render("~/Resources/JavaScript/Plugins/FAQ")

    @if (UserHelper.IsAdmin)
    {
        @Scripts.Render("~/Resources/JavaScript/Framework/Administration")
        @Scripts.Render("~/Plugins/Popover/Scripts/Editable")
    }

    @if (UserHelper.IsEditor)
    {
        @Scripts.Render("~/Resources/JavaScript/Framework/Editor")
    }
    @RenderSection("HEADScripts", false)
    @Html.Partial("_Analytics")
</head>
<body class="page-builder">
    @Html.AntiForgeryToken()

    @Html.Partial("_NavBar")
    @RenderBody()

    @Scripts.Render("~/Plugins/Bootstrap/Scripts")
    @Scripts.Render("~/Plugins/Popover/Scripts")
    @Scripts.Render("~/Plugins/Confirmation/Scripts")
    @Scripts.Render("~/Resources/JavaScript/Framework")
    @RenderSection("DOMScripts", false)
</body>
</html>