@model Portal.CMS.Web.Areas.Admin.ViewModels.PageManager.EditViewModel
@{
    Layout = "";
}

@using (Html.BeginForm("Edit", "PageManager", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.PageId)

    @Html.ValidationMessage("PageName")
    <div class="control-group">
        @Html.LabelFor(x => x.PageName)
        @Html.TextBoxFor(x => x.PageName, new { placeholder = "Page Name" })
    </div>

    @Html.ValidationMessage("PageArea")
    <div class="control-group">
        @Html.LabelFor(x => x.PageArea)
        @Html.TextBoxFor(x => x.PageArea, new { placeholder = "Page Area" })
    </div>

    @Html.ValidationMessage("PageController")
    <div class="control-group">
        @Html.LabelFor(x => x.PageController)
        @Html.TextBoxFor(x => x.PageController, new { placeholder = "Page Controller" })
    </div>

    @Html.ValidationMessage("PageAction")
    <div class="control-group">
        @Html.LabelFor(x => x.PageAction)
        @Html.TextBoxFor(x => x.PageAction, new { placeholder = "Page Action" })
    </div>

    <br />
    <div class="alert alert-warning" role="alert">A user must have at least one of the roles selected below to see this Page. To show the Page to all users select no roles.</div>
    <div class="control-group control-textarea float-container">
        @Html.LabelFor(x => x.SelectedRoleList)
        @Html.ListBoxFor(m => m.SelectedRoleList, Model.RoleList.Select(r => new SelectListItem { Text = r.RoleName, Value = r.RoleName.ToString(), Selected = Model.SelectedRoleList != null && Model.SelectedRoleList.Contains(r.RoleName) }))
    </div>

    <br />

    <div class="footer">
        <button class="btn primary">Save</button>
        <button class="btn" data-dismiss="modal">Cancel</button>
    </div>
}