@model Portal.CMS.Web.Areas.Admin.ViewModels.PageManager.PagesViewModel
@{
    ViewBag.Title = "Page Manager";
    ViewBag.Icon = "/Areas/Admin/Content/Images/icon-pages.png";
}

@Html.Action("Render", "QuickAccess", new { area = "Admin", pageType = QuickAccessPageType.PageManager_Admin })

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#tab-all" aria-controls="tab-all" role="tab" data-toggle="tab"><span class="fa fa-th-large"></span>All Pages</a></li>
    @foreach (var area in Model.PageAreas)
    {
        <li role="presentation" class=""><a href="#tab-@area" aria-controls="tab-@area" role="tab" data-toggle="tab">@area</a></li>
    }
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab-all">
        <div class="row">
            @foreach (var pageItem in Model.PageList)
            {
                <div class="col-xs-12 col-md-6 col-lg-4">
                    <div class="box float-container light">
                        <div class="inner">
                            <h3>@pageItem.PageName</h3>
                            <p>Last Updated: @pageItem.DateUpdated.ToString("dd/MM/yyyy HH:mm")</p>

                            <div class="admin-container x3">
                                <a href="@Url.Action("Edit", "PageManager", new { pageId = @pageItem.PageId })" class="admin-item launch-modal" data-title="Edit Page: @pageItem.PageName"><span class="fa fa-pencil"></span>Edit</a>
                                @if (string.IsNullOrWhiteSpace(pageItem.PageArea))
                                {
                                    <a href="@Url.Action(pageItem.PageAction, pageItem.PageController, new { Area = "" })" class="admin-item" data-title="Build Page"><span class="fa fa-briefcase"></span>Build</a>
                                }
                                else
                                {
                                    <a href="/@pageItem.PageArea/@pageItem.PageController/@pageItem.PageAction" class="admin-item" data-title="Build Page"><span class="fa fa-briefcase"></span>Build</a>
                                }
                                <a href="@Url.Action("Delete", "PageManager", new { pageId = @pageItem.PageId })" class="admin-item" data-toggle="confirmation" data-placement="top"><span class="fa fa-trash"></span>Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @foreach (var area in Model.PageAreas)
    {
        <div role="tabpanel" class="tab-pane" id="tab-@area">
            <div class="row">
                @foreach (var pageItem in Model.PageList.Where(x => x.PageArea == area))
                {
                    <div class="col-xs-12 col-md-6 col-lg-4">
                        <div class="box float-container light">
                            <div class="inner">
                                <h3>@pageItem.PageName</h3>
                                <p>Last Updated: @pageItem.DateUpdated.ToString("dd/MM/yyyy HH:mm")</p>

                                <div class="admin-container x3">
                                    <a href="@Url.Action("Edit", "PageManager", new { pageId = @pageItem.PageId })" class="admin-item launch-modal" data-title="Edit Copy: @pageItem.PageName"><span class="fa fa-pencil"></span>Edit</a>
                                    @if (string.IsNullOrWhiteSpace(pageItem.PageArea))
                                    {
                                        <a href="@Url.Action(pageItem.PageAction, pageItem.PageController, new { Area = "" })" class="admin-item" data-title="Build Page"><span class="fa fa-briefcase"></span>Build</a>
                                    }
                                    else
                                    {
                                        <a href="/@pageItem.PageArea/@pageItem.PageController/@pageItem.PageAction" class="admin-item" data-title="Build Page"><span class="fa fa-briefcase"></span>Build</a>
                                    }
                                    <a href="@Url.Action("Delete", "PageManager", new { pageId = @pageItem.PageId })" class="admin-item" data-toggle="confirmation" data-placement="top"><span class="fa fa-trash"></span>Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>