@model Portal.CMS.Web.Areas.PageBuilder.ViewModels.Section.AddViewModel
@{
    Layout = "";
}

@using (Html.BeginForm("Add", "Section", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.PageId)

    <button id="submit-button" type="submit" style="display: none;"></button>
}

<div id="section-panel" class="panel-overlay animated fadeInRight">
    <div class="panel-title">
        <h4>Add Section</h4>
        <div class="panel-action right" onclick="QuickAccess.ClosePanels();"><span class="fa fa-remove"></span></div>
        <div class="panel-action right" onclick="QuickAccess.TogglePanel('component-panel');"><span class="fa fa-suitcase"></span></div>
        <div class="panel-action right hidden-xs" onclick="QuickAccess.FloatPanel('section-panel')"><span class="fa fa-arrows-h"></span></div>
    </div>

    <div class="panel-inner">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#tab-headers" aria-controls="tab-headers" role="tab" data-toggle="tab">Headers</a></li>
            <li role="presentation" class=""><a href="#tab-content" aria-controls="tab-content" role="tab" data-toggle="tab">Content</a></li>
            <li role="presentation" class=""><a href="#tab-design" aria-controls="tab-design" role="tab" data-toggle="tab">Design</a></li>
            <li role="presentation" class=""><a href="#tab-custom" aria-controls="tab-custom" role="tab" data-toggle="tab">Partial</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active float-container" id="tab-headers" style="padding: 9px;">
                @foreach (var sectionType in Model.SectionTypeList.Where(x => x.PageSectionTypeCategory == PageSectionTypeCategory.Header).OrderBy(typ => typ.PageSectionTypeOrder))
                {
                    <div class="section-preview float-container" data-sectiontypeid="@sectionType.PageSectionTypeId">
                        <div class="section-preview-inner">
                            @Html.Raw(sectionType.PageSectionTypeBody)
                        </div>
                    </div>
                }
            </div>
            <div role="tabpanel" class="tab-pane float-container" id="tab-content" style="padding: 9px;">
                @foreach (var sectionType in Model.SectionTypeList.Where(x => x.PageSectionTypeCategory == PageSectionTypeCategory.Content).OrderBy(typ => typ.PageSectionTypeOrder))
                {
                    <div class="section-preview float-container" data-sectiontypeid="@sectionType.PageSectionTypeId">
                        <div class="section-preview-inner">
                            @Html.Raw(sectionType.PageSectionTypeBody)
                        </div>
                    </div>
                }
            </div>
            <div role="tabpanel" class="tab-pane float-container" id="tab-design" style="padding: 9px;">
                @foreach (var sectionType in Model.SectionTypeList.Where(x => x.PageSectionTypeCategory == PageSectionTypeCategory.Misc).OrderBy(typ => typ.PageSectionTypeOrder))
                {
                    <div class="section-preview float-container" data-sectiontypeid="@sectionType.PageSectionTypeId">
                        <div class="section-preview-inner">
                            @Html.Raw(sectionType.PageSectionTypeBody)
                        </div>
                    </div>
                }
            </div>
            <div role="tabpanel" class="tab-pane float-container" id="tab-custom" style="padding: 9px;">
                <div class="alert alert-warning">You can use Partial Actions to render your own functionality in the PageBuilder. Enter the route to your action below.</div>

                <div class="slim-field">
                    @Html.TextBox("areaName", "", new { @placeholder = "Area Name" })
                    @Html.TextBox("controllerName", "", new { @placeholder = "Controller Name (Required)" })
                    @Html.TextBox("actionName", "", new { @placeholder = "Action Name (Required)" })
                    <div><a href="#" id="add-partial" class="btn" style="float: right;">Add Partial</a></div>
                </div>

                @foreach (var partial in Model.PartialList)
                {
                    <div class="section-preview partial float-container" data-area="@partial.RouteArea" data-controller="@partial.RouteController" data-action="@partial.RouteAction">@Html.Action(partial.RouteAction, partial.RouteController, new { area = partial.RouteArea })</div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        PageBuilder.Initialise.Droppables();
        InitialiseWidgets();

        $('#add-partial').on('click', function (e) {
            var dataParams = { "pageId": @Model.PageId, "areaName": $('#areaName').val(), "controllerName": $('#controllerName').val(), "actionName": $('#actionName').val(), "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() };
            $.ajax({
                data: dataParams,
                type: 'POST',
                cache: false,
                url: '@Url.Action("Add", "Partial", new { area = "PageBuilder" })',
                success: function (data)
                {
                    if (data.State === false)
                    {
                        if (data.Reason === "Invalid")
                        {
                            alert("Error: The Partial Route Specified is Invalid. No Action Exists on that Route...");

                            return false;
                        }
                        else
                        {
                            alert("Error: The Page has lost synchronisation. Reloading Page...");

                            location.reload();
                        }
                    }

                    location.reload();
                },
            });
        });

        $('.section-preview.partial').on('click', function (e) {
            var area = $(this).attr("data-area");
            var controller = $(this).attr("data-controller");
            var action = $(this).attr("data-action");

            var dataParams = { "pageId": @Model.PageId, "areaName": area, "controllerName": controller, "actionName": action, "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() };
            $.ajax({
                data: dataParams,
                type: 'POST',
                cache: false,
                url: '@Url.Action("Add", "Partial", new { area = "PageBuilder" })',
                success: function (data)
                {
                    if (data.State === false)
                    {
                        if (data.Reason === "Invalid")
                        {
                            alert("Error: The Partial Route Specified is Invalid. No Action Exists on that Route...");
                            return false;
                        }
                        else
                        {
                            alert("Error: The Page has lost synchronisation. Reloading Page...");
                            location.reload();
                        }
                    }

                    location.reload();
                },
            });
        });

        $('#section-panel .section-preview:not(.partial)').on('click', function (e) {
            PageBuilder.Edit.AddSection(this, @Model.PageId);
        });
    });
</script>