@model Portal.CMS.Web.Areas.PageBuilder.ViewModels.Section.CloneViewModel
@{
    Layout = "";
}

<script type="text/javascript">
    function submit()
    {
        var pageId = $('#PageId').val();

        EditablePopover.ShowSpinner(@Model.PageAssociationId);

        $.ajax({
            type: "POST",
            url: "/PageBuilder/Section/Clone",
            headers: EditablePopover.GenerateAntiForgeryHeader(),
            data: { 'pageAssociationId': @Model.PageAssociationId, 'pageId': pageId },
            success: function ()
            {
                EditablePopover.OnSuccess("Clone Section", 'fa-clone', '@Model.PageAssociationId');
            },
            error: function () {
                EditablePopover.OnError("Clone Section", 'fa-clone', '@Model.PageAssociationId');
                EditablePopover.HideSpinner(@Model.PageAssociationId);
            }
        });
    }
</script>

<div id="editable-popover-spinner" class="spinner" data-association="@Model.PageAssociationId" style="display: none;"></div>
<div id="editable-popover-content" data-association="@Model.PageAssociationId">
    @if (Model.PageListOptions.Any())
    {
        <div id="editable-popover-info" class="alert alert-warning" data-association="@Model.PageAssociationId" role="alert">Clone a Section onto another Page to keep your content synced across all relevant pages</div>

        <div class="control-group">
            @Html.LabelFor(x => x.PageId)
            @Html.DropDownListFor(m => m.PageId, Model.PageListOptions)
        </div>

        <div class="footer">
            <div class="btn primary" onclick="submit();"><span class="fa fa-check"></span><span class="hidden-xs">Clone</span></div>
            <div class="btn" onclick="EditablePopover.Destroy();"><span class="fa fa-times"></span><span class="hidden-xs">Cancel</span></div>
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">You can't clone this Section because you don't have any other pages...</div>

        <div class="footer">
            <div class="btn" onclick="EditablePopover.Destroy();"><span class="fa fa-times"></span><span class="hidden-xs">Cancel</span></div>
        </div>
    }
</div>