@model Portal.CMS.Web.Areas.PageBuilder.ViewModels.Section.EditBackgroundImageViewModel
@{
    Layout = "";
}

@Scripts.Render("~/Plugins/ImageSelector/Scripts")
@Scripts.Render("~/Resources/JavaScript/Plugins/Pagination")

<script type="text/javascript">
    function submit()
    {
        EditablePopover.ShowSpinner(@Model.PageAssociationId);

        $.ajax({
            type: "POST",
            url: "/PageBuilder/Section/EditBackgroundImage",
            headers: EditablePopover.GenerateAntiForgeryHeader(),
            data: $('#editBackgroundImageForm').serialize(),
            success: function ()
            {
                EditablePopover.OnSuccess("Edit Background Image", 'fa-picture-o', '@Model.PageAssociationId');

                PageBuilder.Helpers.ReloadSection(@Model.SectionId);
            },
            error: function ()
            {
                EditablePopover.OnError("Edit Background Image", 'fa-picture-o', '@Model.PageAssociationId');

                EditablePopover.HideSpinner(@Model.PageAssociationId);
            }
        });
    }
</script>

<form id="editBackgroundImageForm">
    @Html.HiddenFor(x => x.PageAssociationId)
    @Html.HiddenFor(x => x.SectionId)
    @Html.HiddenFor(x => x.BackgroundImageId)

    <div id="editable-popover-spinner" class="spinner" data-association="@Model.PageAssociationId" style="display: none;"></div>

    <div id="editable-popover-content" data-association="@Model.PageAssociationId">
        <div id="editable-popover-spinner" class="spinner" data-association="@Model.PageAssociationId" style="display: none;"></div>
        <div id="editable-popover-info" class="alert alert-warning" data-association="@Model.PageAssociationId" role="alert">Select a single image to display in the background of your Section.</div>

        <div class="x2 tab-pane image-selector single">
            @Html.Partial("_RenderPopoverPage", Model.MediaLibrary)
        </div>

        <div class="footer">
            <div class="btn primary" onclick="submit();"><span class="fa fa-check"></span><span class="hidden-xs">Save</span></div>
            <div class="btn" onclick="EditablePopover.Destroy();"><span class="fa fa-times"></span><span class="hidden-xs">Cancel</span></div>
        </div>
    </div>
</form>