@model Portal.CMS.Web.Areas.PageBuilder.ViewModels.Section.EditBackgroundColourViewModel
@{
    Layout = "";
}

@Styles.Render("~/Plugins/Spectrum/Styles")
@Scripts.Render("~/Plugins/Spectrum/Scripts")

<script type="text/javascript">
    $(".spectrum").spectrum({
        flat: false,
        showInput: true,
        preferredFormat: "hex",
        showButtons: false,
    });

    function submit()
    {
        EditablePopover.ShowSpinner(@Model.PageAssociationId);

        $.ajax({
            type: "POST",
            url: "/PageBuilder/Section/EditBackgroundColour",
            headers: EditablePopover.GenerateAntiForgeryHeader(),
            data: $('#editBackgroundColourForm').serialize(),
            success: function ()
            {
                EditablePopover.OnSuccess("Edit Background Colour", 'fa-paint-brush', '@Model.PageAssociationId');

                PageBuilder.Helpers.ReloadSection(@Model.PageSectionId);
            },
            error: function ()
            {
                EditablePopover.OnError("Edit Background Colour", 'fa-paint-brush', '@Model.PageAssociationId');

                EditablePopover.HideSpinner(@Model.PageAssociationId);
            }
        });
    }
</script>

<form id="editBackgroundColourForm">
    @Html.HiddenFor(x => x.PageAssociationId)
    @Html.HiddenFor(x => x.PageSectionId)

    <div id="editable-popover-spinner" class="spinner" data-association="@Model.PageAssociationId" style="display: none;"></div>

    <div id="editable-popover-content" data-association="@Model.PageAssociationId">
        <div id="editable-popover-info" class="alert alert-warning" data-association="@Model.PageAssociationId" role="alert">Choose a colour to apply a solid background to your Section.</div>

        @Html.ValidationMessage("BackgroundColour")
        <div class="control-group">
            @Html.LabelFor(x => x.BackgroundColour)
            @Html.TextBoxFor(x => x.BackgroundColour, new { @class = "spectrum" })
        </div>

        <div class="footer">
            <div class="btn primary" onclick="submit();"><span class="fa fa-check"></span><span class="hidden-xs">Save</span></div>
            <div class="btn" onclick="EditablePopover.Destroy();"><span class="fa fa-times"></span><span class="hidden-xs">Cancel</span></div>
        </div>
    </div>
</form>