@model Portal.CMS.Web.Areas.PageBuilder.ViewModels.Section.RestoreViewModel
@{
    Layout = "";
}

<script type="text/javascript">
    $(document).ready(function () {
        $(".restore-backup").click(function (event) {
            var backupId = $(this).attr("data-backupid");
            var pageSectionId = @Model.PageSectionId;
            var dataParams = { "pageSectionId": pageSectionId, "restorePointId": backupId, "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() };
            $.ajax({
                data: dataParams,
                type: 'POST',
                cache: false,
                url: '/PageBuilder/Section/Restore',
                success: function (data) {
                    if (data.State === false) {
                        alert("Error: The Page has lost synchronisation. Reloading Page..."); location.reload();
                    }

                    $('#section-wrapper-' + @Model.PageSectionId).html(data.Markup);

                    $('.modal').modal('toggle');

                    PageBuilder.Initialise.Editor();
                    InitialiseWidgets();
                    PageBuilder.Initialise.Droppables();

                    $('html, body').animate({
                        scrollTop: $('#section-@Model.PageSectionId').offset().top - 20
                    }, 0);

                    $('#section-@Model.PageSectionId').animateIn('pulse');
                }
            });
        });

        $(".delete-backup").click(function (event) {
            var backupId = $(this).attr("data-backupid");
            var dataParams = { "restorePointId": backupId, "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() };
            $.ajax({
                data: dataParams,
                type: 'POST',
                cache: false,
                url: '/PageBuilder/Section/DeleteBackup',
                success: function (data) {
                    if (data.State === false) {
                        alert("Error: The Page has lost synchronisation. Reloading Page..."); location.reload();
                    }

                    $('#item-' + backupId).animateOut('flipOutX');
                }
            });
        });
    });
</script>

<div class="panel-inner">
    @using (Html.BeginForm("CreateBackup", "Section", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(x => x.PageSectionId)

        if (!Model.PageSectionBackup.Any())
        {
            <div class="alert alert-warning" role="alert">You don't have any Restore Points for this Section yet...</div>
            <br /><br /><br />
        }
        else
        {
            <div class="alert alert-warning" role="alert">Create a new Backup for this Section or choose an existing Restore point.</div>
        }

        <div class="row">
            @foreach (var backup in Model.PageSectionBackup.OrderByDescending(x => x.DateAdded))
            {
                <div id="item-@backup.PageSectionBackupId" class="col-xs-12 col-sm-6">
                    <div class="box box-tall">
                        <div class="alert alert-success" role="alert">Snapshot: @backup.DateAdded.ToString("dd/MM/yyyy HH:mm").</div>
                        <div class="section-preview float-container" style="margin-bottom: 175px;">@Html.Raw(backup.PageSectionBody)</div>

                        <div class="admin-container x2">
                            <a href="#" class="admin-item restore-backup" data-backupid="@backup.PageSectionBackupId" data-title="Restore"><span class="fa fa-clock-o"></span>Restore</a>
                            <a href="#" class="admin-item delete-backup" data-backupid="@backup.PageSectionBackupId" data-title="Delete Restore Point"><span class="fa fa-trash"></span>Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="footer">
            <button class="btn primary">Create Restore Point</button>
            <button class="btn" data-dismiss="modal">Cancel</button>
        </div>
    }
</div>