@using Portal.CMS.Web.Areas.Admin.Helpers;
<!DOCTYPE html>
<html lang="en-gb">
<head>
    <title>@SettingHelper.Get("Website Name"): @ViewBag.Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="description" content="@SettingHelper.Get("Description Meta Tag")">

    @RenderSection("Styles", false)
    @Styles.Render("~/Resources/CSS/Bootstrap")
    @Styles.Render("~/Resources/CSS/Administration/Framework")
    @Styles.Render("~/Resources/CSS/PageBuilder/Framework")
    @Styles.Render("~/Resources/CSS/Framework")
    @Styles.Render("~/Resources/CSS/FontAwesome")

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0-beta.1/jquery-ui.min.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

    @RenderSection("HEADScripts", false)
</head>
<body>
    @Html.Partial("_NavBar")
    @RenderBody()

    @Html.Partial("_Analytics")

    @RenderSection("DOMScripts", false)
    @Scripts.Render("~/Resources/JavaScript/Bootstrap")
    @Scripts.Render("~/Resources/JavaScript/Bootstrap/Confirmation")
    @Scripts.Render("~/Resources/JavaScript/Bootstrap/Modal")
</body>
</html>