@using Portal.CMS.Web.Areas.Admin.Helpers;
@{
    var menuItems = MenuHelper.Get("Main Menu");

    var isLoggedIn = UserHelper.IsLoggedIn;
    var isAdmin = UserHelper.IsAdmin;
    var isEditor = UserHelper.IsEditor;
}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = "" })">@SettingHelper.Get("Website Name")</a>
        </div>

        <div class="collapse navbar-collapse" id="main-menu">
            <ul class="nav navbar-nav">
                @foreach (var item in menuItems)
                {
                    <li class=""><a href="@Url.Action(item.LinkAction, item.LinkController, new { area = item.LinkArea })">@Html.Raw(item.LinkText)</a></li>
                }
            </ul>

            @if (isLoggedIn)
            {
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user"></span>@UserHelper.FullName<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Account", "Authentication", new { area="Admin"})" class="launch-modal" data-title="Update Account"><span class="fa fa-user"></span>Update Account</a></li>
                            <li><a href="@Url.Action("Bio", "Authentication", new { area="Admin"})" class="launch-modal" data-title="Update Bio"><span class="fa fa-book"></span>Update Bio</a></li>
                            <li><a href="@Url.Action("Avatar", "Authentication", new { area="Admin"})" class="launch-modal" data-title="Upload Avatar"><span class="fa fa-picture-o"></span>Upload Avatar</a></li>
                            <li><a href="@Url.Action("Password", "Authentication", new { area="Admin"})" class="launch-modal" data-title="Change Password"><span class="fa fa-key"></span>Change Password</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Logout", "Authentication", new { area="Admin"})"><span class="fa fa-lock"></span>Logout</a></li>
                        </ul>
                    </li>
                    @if (isAdmin || isEditor)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle btn" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-cog"></span>Administration <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @if (isAdmin)
                                {
                                    <li><a href="@Url.Action("Index", "Dashboard", new { area="Admin"})"><span class="fa fa-dashboard"></span>Dashboard</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="@Url.Action("Index", "PageManager", new { area="Admin"})"><span class="fa fa-globe"></span>Page Manager</a></li>
                                    <li><a href="@Url.Action("Index", "Analytics", new { area="Admin"})"><span class="fa fa-line-chart"></span>Website Analytics</a></li>
                                    <li><a href="@Url.Action("Setup", "SettingManager", new { area="Admin"})" class="launch-modal" data-title="Website Settings"><span class="fa fa-cog"></span>Website Settings</a></li>
                                    <li role="separator" class="divider"></li>
                                }
                                @if (isEditor)
                                {
                                    <li><a href="@Url.Action("UploadImage", "Media", new { area="Admin"})" class="launch-modal" data-title="Upload Image"><span class="fa fa-cloud-upload"></span>Upload Media</a></li>
                                    <li><a href="@Url.Action("Create", "BlogManager", new { area="Admin"})" class="launch-modal" data-title="Create Post"><span class="fa fa-pencil"></span>Create Post</a></li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Login", "Authentication", new { area="Admin"})" class="launch-modal" data-title="Sign In"><span class="fa fa-lock"></span>Login</a></li>
                    <li><a href="@Url.Action("Register", "Authentication", new { area="Admin"})" class="launch-modal" data-title="Register Account"><span class="fa fa-user"></span>Register</a></li>
                </ul>
            }
        </div>
    </div>
</nav>