@model Portal.CMS.Web.ViewModels.Shared.PaginationViewModel
@using Portal.CMS.Web.Architecture.Extensions

<div class="pagination-wrapper @Model.PaginationType" data-type="@Model.PaginationType">
    @for (var page = 1; page <= Model.PageCount; page += 1)
    {
        <div class="page-@page pagination-page" data-page="@page" style="@(page == 1 ? "" : "display: none;")">
            @foreach (var image in Model.ImageList.Skip((page - 1) * 8).Take(8))
            {
                <img class="thumbnail" data-parent="@Model.PaginationType" data-target="@Model.TargetInputField" data-identifier="@image.ImageId" src="@image.CDNImagePath()" />
            }
        </div>
    }
</div>

<nav aria-label="Image Page List">
    <ul class="pagination">
        @for (var page = 1; page <= Model.PageCount; page += 1)
        {
            <li><a class="pagination-button @(page == 1 ? "active" : "")" data-page="@page" data-type="@Model.PaginationType" href="#page-@page">@page</a></li>
        }
    </ul>
</nav>