@using Portal.CMS.Web.Areas.Admin.Helpers;
<!DOCTYPE html>
<html lang="en-gb">
<head>
    <title>@SettingHelper.Get("Website Name"): @ViewBag.Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="description" content="Portal CMS Administration Panel" />

    @Styles.Render("~/Resources/CSS/Bootstrap")
    @Styles.Render("~/Resources/CSS/FontAwesome")
    @Styles.Render("~/Resources/CSS/Administration/Framework")
    @Styles.Render("~/Resources/CSS/Misc/Portal")

    @RenderSection("Styles", false)

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0-beta.1/jquery-ui.min.js"></script>
    <script src="~/Areas/Admin/Content/Scripts/plugins.js"></script>

    @RenderSection("HEADScripts", false)
</head>
<body>
    @Html.Partial("_Header")
    @Html.Partial("_Sidebar")

    <div id="page-container">@RenderBody()</div>

    @RenderSection("DOMScripts", false)
    @Scripts.Render("~/Resources/JavaScript/Bootstrap")
    @Scripts.Render("~/Resources/JavaScript/Bootstrap/Confirmation")
    @Scripts.Render("~/Resources/JavaScript/Bootstrap/Modal")
    @Scripts.Render("~/Resources/JavaScript/Framework/Global")
</body>
</html>