<div id="sidebar">
    <a href="@Url.Action("Index", "Dashboard")" class="link first" data-toggle="popover" data-trigger="hover" data-container="body" data-title="Dashboard" data-content="Review a snapshot of information related to Portal CMS.">
        <img src="~/Areas/Admin/Content/Images/icon-dashboard.png" />
    </a>
    <a href="@Url.Action("Index", "BlogManager")" class="link" data-toggle="popover" data-trigger="hover" data-container="body" data-title="Blog Manager" data-content="Create and Edit Posts to allow your visitors to read custom content.">
        <img src="~/Areas/Admin/Content/Images/icon-articles.png" />
    </a>
    <a href="@Url.Action("Index", "Media")" cl class="link" data-toggle="popover" data-trigger="hover" data-container="body" data-title="Media Manager" data-content="Review and Upload Media for use across Portal CMS.">
        <img src="~/Areas/Admin/Content/Images/icon-media.png" />
    </a>
    <a href="@Url.Action("Index", "ThemeManager")" class="link" data-toggle="popover" data-trigger="hover" data-container="body" data-title="Theme Manager" data-content="Create and Edit Basic Themes for your Website">
        <img src="~/Areas/Admin/Content/Images/icon-thememanager.png" />
    </a>
    <a href="@Url.Action("Index", "PageManager")" class="link" data-toggle="popover" data-trigger="hover" data-container="body" data-title="Page Manager" data-content="Create and Edit Pages for your Website.">
        <img src="~/Areas/Admin/Content/Images/icon-pages.png" />
    </a>
    <a href="@Url.Action("Index", "Copy")" class="link" data-toggle="popover" data-trigger="hover" data-container="body" data-title="Manage Copy" data-content="Create and Edit Copy sections to output custom markup onto your Website.">
        <img src="~/Areas/Admin/Content/Images/icon-copy.png" />
    </a>
    <a href="@Url.Action("Index", "Analytics")" class="link" data-toggle="popover" data-trigger="hover" data-container="body" data-title="Website Analytics" data-content="View charts and graphs showing engagement in your website.">
        <img src="~/Areas/Admin/Content/Images/icon-reports.png" />
    </a>
    <a href="@Url.Action("Index", "UserManager")" class="link" data-toggle="popover" data-trigger="hover" data-container="body" data-title="User Manager" data-content="Manage the registered user base of this website.">
        <img src="~/Areas/Admin/Content/Images/icon-users.png" />
    </a>
    <a href="@Url.Action("Index", "SettingManager")" class="link" data-toggle="popover" data-trigger="hover" data-container="body" data-title="Setting Manager" data-content="Manage Portal CMS and your Websites settings.">
        <img src="~/Areas/Admin/Content/Images/icon-settings.png" />
    </a>
    <a href="@Url.Action("Index", "Home", new { area = "" })" class="link" data-toggle="popover" data-trigger="hover" data-container="body" data-title="Exit" data-content="Return to the Website and stay logged in.">
        <img src="~/Areas/Admin/Content/Images/icon-exit.png" />
    </a>
</div>