@model Portal.CMS.Web.Areas.Admin.ViewModels.Posts.PostsViewModel
@{
    ViewBag.Title = "Post Manager";
    ViewBag.Icon = "/Areas/Admin/Content/Images/icon-articles.png";
}

<link href="~/Areas/Admin/Content/Styles/Pages/posts.css" rel="stylesheet" />

<div class="action-container">
    <a href="@Url.Action("Add", "PostCategories")" class="launch-modal" data-title="Add Post Category"><div class="action"><span class="glyphicon glyphicon-bookmark"></span></div></a>
    <a href="@Url.Action("Create", "Posts")" class="launch-modal" data-title="Create Post"><div class="action"><span class="glyphicon glyphicon-plus"></span></div></a>
</div>

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#tab-posts" aria-controls="tab-posts" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-pencil"></span>Posts</a></li>
    <li role="presentation" class=""><a href="#tab-categories" aria-controls="tab-categories" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-bookmark"></span>Categories</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab-posts">
        <div class="row">
            @foreach (var post in Model.Posts)
            {
                string bannerImagePath = "";
                bool hasBannerImage = false;

                if (post.PostImages.Any(x => x.PostImageType == Portal.CMS.Entities.Entities.Posts.PostImageType.Banner))
                {
                    bannerImagePath = post.PostImages.First(x => x.PostImageType == Portal.CMS.Entities.Entities.Posts.PostImageType.Banner).Image.ImagePath;
                    hasBannerImage = true;
                }

                <div class="col-xs-12 col-md-6 col-lg-4">
                    <div class="box article-item float-container @(hasBannerImage ? "dark" : "light")" style="@(!string.IsNullOrWhiteSpace(bannerImagePath) ? string.Format("background-image: url('{0}'); color: white;", bannerImagePath) : "")">
                        <div class="inner">
                            <div class="category-item">@post.PostCategory.PostCategoryName</div>
                            <h3>@(post.IsPublished ? "" : "Draft: ") @post.PostTitle</h3>
                            <p>@post.PostDescription</p>

                            <div class="admin-container x3">
                                @if (post.IsPublished)
                                {
                                    <a href="@Url.Action("Draft", "Posts", new { postId = @post.PostId })" class="admin-item" data-title="Set as Draft"><span class="glyphicon glyphicon-eye-close"></span>Draft</a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Publish", "Posts", new { postId = @post.PostId })" class="admin-item" data-title="Publish Post"><span class="glyphicon glyphicon-eye-open"></span>Publish</a>
                                }

                                <a href="@Url.Action("Edit", "Posts", new { postId = @post.PostId })" class="admin-item launch-modal" data-title="Edit Post: @post.PostTitle"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
                                <a href="@Url.Action("Delete", "Posts", new { postId = @post.PostId })" class="admin-item" data-title="Delete Post" data-container="body" data-toggle="confirmation" data-placement="top"><span class="glyphicon glyphicon-trash"></span>Delete</a>
                            </div>
                        </div>
                        <div class="@(!string.IsNullOrWhiteSpace(bannerImagePath) ? "overlay-medium" : "")"></div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab-categories">
        <div class="row">
            @foreach (var postCategory in Model.PostCategories)
            {
                <div class="col-xs-12 col-md-6 col-lg-4">
                    <div class="box float-container" style="height: 220px; min-height: 220px;">
                        <h3>@postCategory.PostCategoryName</h3>
                        <p>Total Posts: @postCategory.Posts.Count()</p>

                        <div class="admin-container x2">
                            <a href="@Url.Action("Edit", "PostCategories", new { postCategoryId = postCategory.PostCategoryId })" class="admin-item launch-modal" data-title="Edit Post Category"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
                            <a href="@Url.Action("Delete", "PostCategories", new { postCategoryId = postCategory.PostCategoryId })" class="admin-item" data-title="Delete Post Category" data-toggle="confirmation" data-placement="top"><span class="glyphicon glyphicon-trash"></span>Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>