@model Portal.CMS.Web.Areas.Admin.ViewModels.BlogManager.AppDrawerViewModel
@{
    Layout = "";
}

<div id="blog-manager-panel" class="panel-overlay animated fadeInRight">
    <div class="panel-title">
        <h4>Blog Manager</h4>
        <div class="panel-action right" onclick="QuickAccess.ClosePanels();"><span class="fa fa-remove"></span></div>
    </div>

    <div class="panel-inner">
        <a href="@Url.Action("Create", "BlogManager", new { area = "Admin" })" class="btn primary launch-modal" data-title="New Blog Post" style="font-size: 15px;"><span class="fa fa-plus"></span>New</a>

        @if (UserHelper.IsAdmin)
        {
            <a href="@Url.Action("Index", "BlogManager", new { area = "Admin" })" class="btn" style="font-size: 15px;"><span class="fa fa-th-list"></span>Blog Manager</a>
        }

        <div class="tab-content" style="padding-top: 5px; padding-right: 5px; padding-left: 5px; border: 0; max-height: 74vh;">
            @foreach (var post in Model.PostList)
            {
                <a class="col-xs-12" href="@Url.Action("Index", "Read", new { area = "Blog", id = @post.PostId })" style="padding-left: 0; padding-right: 0;">
                    <div class="box article-item float-container" style="@string.Format("background-image: url('{0}'); color: white;", post.BannerImageUrl())">
                        <div class="inner">
                            <div class="category-item"><span class="fa fa-tag"></span>@post.PostCategory.PostCategoryName</div>
                            <div title="Views" class="hidden-xs category-item"><span class="fa fa-users"></span>@post.PostViews.Count()</div>
                            <div title="Comments" class="hidden-xs category-item"><span class="fa fa-comment"></span>@post.PostComments.Count()</div>
                            <h3>@post.PostTitle</h3>
                            <p>@post.PostDescription</p>
                        </div>
                        <div class="overlay overlay-medium"></div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>