@model Portal.CMS.Web.Areas.Builder.ViewModels.Component.AddViewModel
@{
    Layout = "";
}

<script type="text/javascript">
    $('.builder-item').on('click', function (e) {
        var componentTypeBody = $(this).attr("data-componenttypebody");

        componentTypeBody = componentTypeBody.replace('<sectionId>', '@Model.PageSectionId');
        componentTypeBody = componentTypeBody.replace('<componentStamp>', '@Model.ComponentStamp');

        $('#@Model.ContainerElementId').append(componentTypeBody);

        SetupComponentEvents();

        var dataParams = { "pageSectionId": @Model.PageSectionId, "containerElementId": '@Model.ContainerElementId', "elementBody": componentTypeBody };
        $.ajax({
            data: dataParams,
            type: 'POST',
            cache: false,
            url: '/Builder/Component/Add',
            success: function (data) { if (data.State === false) { alert("Error: The Page has lost synchronisation. Reloading Page..."); location.reload(); } }
        });

        $(".modal .close").click()
    });
</script>

<style>
    .component-preview
    {
        position: relative;
        background-color: white;
        border: 1px solid silver;
        padding: 20px;
        zoom: 0.4;
        height: 400px;
        overflow: hidden;
    }

    .component-preview.text
    {
        height: 150px;
        zoom: 0.6;
    }

    .builder-item h4
    {
        text-transform: uppercase;
    }
</style>

<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><a href="#tab-markup" aria-controls="tab-general" role="tab" data-toggle="tab">Basic Markup</a></li>
    <li role="presentation" class=""><a href="#tab-bootstrap" aria-controls="tab-icon" role="tab" data-toggle="tab">Bootstrap</a></li>
    <li role="presentation" class=""><a href="#tab-table" aria-controls="tab-table" role="tab" data-toggle="tab">Tables</a></li>
    <li role="presentation" class=""><a href="#tab-control" aria-controls="tab-screenshot" role="tab" data-toggle="tab">Control</a></li>
</ul>
<div class="row builder-picker">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active float-container" id="tab-markup">
            @foreach (var componentType in Model.PageComponentTypeList.Where(x => x.PageComponentTypeCategory == Portal.CMS.Entities.Entities.PageBuilder.PageComponentTypeCategory.Markup))
            {
                <div class="col-xs-12 col-md-6">
                    <div class="builder-item" data-componentypeid="@componentType.PageComponentTypeId" data-componenttypebody="@componentType.PageComponentBody">
                        <div class="component-preview text float-container">
                            @Html.Raw(componentType.PageComponentBody)
                        </div>
                        <h4 style="padding-top: 10px;">@componentType.PageComponentTypeName</h4>
                    </div>
                </div>
            }
        </div>
        <div role="tabpanel" class="tab-pane float-container" id="tab-table">
            @foreach (var componentType in Model.PageComponentTypeList.Where(x => x.PageComponentTypeCategory == Portal.CMS.Entities.Entities.PageBuilder.PageComponentTypeCategory.Table))
            {
                <div class="col-xs-12 col-md-6">
                    <div class="builder-item" data-componentypeid="@componentType.PageComponentTypeId" data-componenttypebody="@componentType.PageComponentBody">
                        <h4 style="padding-top: 10px;">@componentType.PageComponentTypeName</h4>
                    </div>
                </div>
            }
        </div>
        <div role="tabpanel" class="tab-pane float-container" id="tab-bootstrap">
            @foreach (var componentType in Model.PageComponentTypeList.Where(x => x.PageComponentTypeCategory == Portal.CMS.Entities.Entities.PageBuilder.PageComponentTypeCategory.Bootstrap))
            {
                <div class="col-xs-12 col-md-6">
                    <div class="builder-item" data-componentypeid="@componentType.PageComponentTypeId" data-componenttypebody="@componentType.PageComponentBody">
                        <h4 style="padding-top: 10px;">@componentType.PageComponentTypeName</h4>
                    </div>
                </div>
            }
        </div>
        <div role="tabpanel" class="tab-pane float-container" id="tab-control">
            @foreach (var componentType in Model.PageComponentTypeList.Where(x => x.PageComponentTypeCategory == Portal.CMS.Entities.Entities.PageBuilder.PageComponentTypeCategory.Control))
            {
                <div class="col-xs-12 col-md-6">
                    <div class="builder-item" data-componentypeid="@componentType.PageComponentTypeId" data-componenttypebody="@componentType.PageComponentBody">
                        <div class="component-preview float-container">
                            @Html.Raw(componentType.PageComponentBody)
                        </div>
                        <h4 style="padding-top: 10px;">@componentType.PageComponentTypeName</h4>
                    </div>
                </div>
            }
        </div>
    </div>
</div>