@model Portal.CMS.Web.Areas.Builder.ViewModels.Component.AnchorViewModel
@{
    Layout = "";
}

<script src="~/Areas/Admin/Content/Plugins/JQColorPicker/jqColorPicker.min.js"></script>
<script type="text/javascript">
    $('.color').colorPicker({
        cssAddon: '.cp-color-picker {z-index: 1000000;}'
    });
</script>

<script type="text/javascript">
    function Delete()
    {
        $('#@Model.ElementId').remove();

        var dataParams = { "pageSectionId": @Model.SectionId , "componentId": "@Model.ElementId", "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() };

        $.ajax({
            data: dataParams,
            type: 'POST',
            cache: false,
            url: '@Url.Action("Delete", "Component", new { area = "Builder" })',
            success: function (data) {
                if (data.State === false)
                {
                    alert("Error: The document has lost synchronisation. Reloading document...");
                    location.reload();
                }
            },
        });
    }
</script>

@using (Html.BeginForm("Anchor", "Component", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.SectionId)
    @Html.HiddenFor(x => x.ElementId)

    <div class="control-group float-container">
        @Html.LabelFor(x => x.ElementText)
        @Html.TextBoxFor(x => x.ElementText, new { placeholder = "Element Text" })
    </div>

    <div class="control-group float-container">
        @Html.LabelFor(x => x.ElementTarget)
        @Html.TextBoxFor(x => x.ElementTarget, new { placeholder = "Element Target" })
    </div>

    <div class="control-group float-container">
        @Html.LabelFor(x => x.ElementColour)
        @Html.TextBoxFor(x => x.ElementColour, new { @class = "color" })
    </div>

    <br />

    <div class="footer">
        <button class="btn primary">Save</button>
        <a onclick="Delete();" data-dismiss="modal" class="btn delete">Delete</a>
        <button class="btn" data-dismiss="modal">Cancel</button>
    </div>
}