@model Portal.CMS.Web.Areas.Builder.ViewModels.Component.ImageViewModel
@{
    Layout = "";
}

@Scripts.Render("~/Resources/JavaScript/ImageSelector")

<script type="text/javascript">
    function Delete()
    {
        $('#@Model.ElementId').remove();

        var dataParams = { "pageSectionId": @Model.SectionId , "elementId": "@Model.ElementId", "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() };

        $.ajax({
            data: dataParams,
            type: 'POST',
            cache: false,
            url: '/Builder/Component/Delete',
            success: function (data) {
                if (data.State === false)
                {
                    alert("Error: The document has lost synchronisation. Reloading document...");
                    location.reload();
                }
            },
        });
    }
</script>

@using (Html.BeginForm("Image", "Component", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.PageId)
    @Html.HiddenFor(x => x.SectionId)
    @Html.HiddenFor(x => x.ElementId)
    @Html.HiddenFor(x => x.SelectedImageId)
    @Html.HiddenFor(x => x.ElementType)

    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a href="#tab-general" aria-controls="tab-general" role="tab" data-toggle="tab">General</a></li>
        <li role="presentation" class=""><a href="#tab-icon" aria-controls="tab-icon" role="tab" data-toggle="tab">Icon</a></li>
        <li role="presentation" class=""><a href="#tab-screenshot" aria-controls="tab-screenshot" role="tab" data-toggle="tab">Screenshot</a></li>
        <li role="presentation" class=""><a href="#tab-texture" aria-controls="tab-texture" role="tab" data-toggle="tab">Texture</a></li>
    </ul>
    <div id="banner-selector" class="image-selector x4 single float-container">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab-general">
                <br />
                @foreach (var image in Model.ImageList.Where(x => x.ImageCategory == Portal.CMS.Entities.Entities.Generic.ImageCategory.General))
                {
                    <img class="thumbnail" data-parent="banner-selector" data-target="SelectedImageId" data-identifier="@image.ImageId" src="@image.ImagePath" />
                }
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-icon">
                <br />
                @foreach (var image in Model.ImageList.Where(x => x.ImageCategory == Portal.CMS.Entities.Entities.Generic.ImageCategory.Icon))
                {
                    <img class="thumbnail" data-parent="banner-selector" data-target="SelectedImageId" data-identifier="@image.ImageId" src="@image.ImagePath" />
                }
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-screenshot">
                <br />
                @foreach (var image in Model.ImageList.Where(x => x.ImageCategory == Portal.CMS.Entities.Entities.Generic.ImageCategory.Screenshot))
                {
                    <img class="thumbnail" data-parent="banner-selector" data-target="SelectedImageId" data-identifier="@image.ImageId" src="@image.ImagePath" />
                }
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-texture">
                <br />
                @foreach (var image in Model.ImageList.Where(x => x.ImageCategory == Portal.CMS.Entities.Entities.Generic.ImageCategory.Texture))
                {
                    <img class="thumbnail" data-parent="banner-selector" data-target="SelectedImageId" data-identifier="@image.ImageId" src="@image.ImagePath" />
                }
            </div>
        </div>
    </div>

    <br />

    <div class="footer">
        <button class="btn primary">Save</button>
        <a onclick="Delete()" data-dismiss="modal" class="btn delete">Delete</a>
        <button class="btn" data-dismiss="modal">Cancel</button>
    </div>
}