@model Portal.CMS.Web.Areas.Builder.ViewModels.Build.CustomViewModel
@{
    ViewBag.Title = "Error";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en-gb">
<head>
    <title>Portal CMS: @ViewBag.Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

    @RenderSection("Styles", false)
    @Styles.Render("~/Resources/CSS/Bootstrap")
    @Styles.Render("~/Resources/CSS/FontAwesome")
    @Styles.Render("~/Resources/CSS/Framework")

    @Scripts.Render("~/Resources/JavaScript/JQuery")
    @Scripts.Render("~/Resources/JavaScript/JQueryUI")
    @RenderSection("HEADScripts", false)
    @Html.Partial("_Analytics")
</head>
<body class="page-builder">
    <nav class="navbar navbar-inverse"><div class="container-fluid"><div class="navbar-header"><a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = "" })">Portal CMS</a></div></div></nav>

    @Html.Partial("_NavBar")
    @RenderBody()
    @Html.Partial("_DOMScripts")
    @RenderSection("DOMScripts", false)
</body>
</html>