@model Portal.CMS.Web.ViewModels.Blog.BlogViewModel
@using Portal.CMS.Entities.Entities.Posts;
@using Portal.CMS.Web.Areas.Admin.Helpers;
@{
    ViewBag.Title = Model.CurrentPost.PostTitle;

    var galleryCount = Model.CurrentPost.PostImages.Where(x => x.PostImageType == PostImageType.Gallery).Count();
    var commentCount = Model.CurrentPost.PostComments.Count();

    var bannerImagePath = "/Areas/Builder/Content/Images/Sample/Sample-1.jpg";

    if (Model.CurrentPost.PostImages.Any(x => x.PostImageType == PostImageType.Banner))
    {
        bannerImagePath = Model.CurrentPost.PostImages.First(x => x.PostImageType == PostImageType.Banner).Image.ImagePath;
    }
}

@section Styles
{
    @Styles.Render("~/Resources/CSS/FancyBox")

    @if (Model.Theme != null)
    {
        <style>
        @@font-face { font-family: '@Model.Theme.TitleFont.FontName'; src: url('@Model.Theme.TitleFont.FontPath') format('@Model.Theme.TitleFont.FontType'); }
        @@font-face { font-family: '@Model.Theme.TextFont.FontName'; src: url('@Model.Theme.TextFont.FontPath') format('@Model.Theme.TextFont.FontType'); }

        .post h1, .post h2, .post h3, .post h4
        {
            font-family: '@Model.Theme.TitleFont.FontName';
        }

        .post p, .post a
        {
            font-family: '@Model.Theme.TextFont.FontName';
        }
        </style>
    }
}

@section HEADScripts
{
    @Scripts.Render("~/Resources/JavaScript/FancyBox")

    @if (UserHelper.IsAdmin)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                tinymce.init({
                    selector: '.edit-post-body', inline: true, plugins: ['advlist autolink lists link image charmap anchor searchreplace visualblocks code fullscreen media table contextmenu paste'],
                    toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                    setup:function(ed) {
                        ed.on('change', function(e) {
                            var dataParams = { "postId": @Model.CurrentPost.PostId, "markup": ed.getContent() };
                            $.ajax({data: dataParams, type: 'POST', cache: false, url: '/Admin/Posts/Inline'});
                        });
                    }
                });
            });
        </script>
    }

    <script type="text/javascript">
        $(document).ready(function () {
            var dataParams = { "postId": @Model.CurrentPost.PostId, "referrer": "@Request.UrlReferrer", "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() };
            $.ajax({data: dataParams, type: 'POST', cache: false, url: '@Url.Action("Analytic", "Blog")', success: function (data) { }, });
        });
    </script>
}

<div class="post">
    <div class="post-banner" style="@string.Format("background-image: url('{0}'); color: white;", bannerImagePath)">
        <div class="overlay-medium"></div>
        <div class="inner vertical-alignment">
            <div class="row">
                <div class="col-xs-12 col-md-10 col-lg-7">
                    <div title="Category" class="category-item"><span class="fa fa-tag"></span>@Model.CurrentPost.PostCategory.PostCategoryName</div>
                    @if (UserHelper.IsEditor)
                    {
                        <a href="@Url.Action("Edit", "Posts", new { area = "Admin", postId = Model.CurrentPost.PostId })" class="category-item launch-modal" data-title="Edit Post"><span class="fa fa-pencil"></span>Edit</a>
                    }
                    <div title="Views" class="hidden-xs category-item"><span class="fa fa-users"></span>@Model.CurrentPost.PostViews.Count()</div>
                    <div title="Comments" class="hidden-xs category-item"><span class="fa fa-comment"></span>@Model.CurrentPost.PostComments.Count()</div>

                    <h1 class="post-title">@Model.CurrentPost.PostTitle</h1>
                    <p class="post-description">@Model.CurrentPost.PostDescription</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-7">
                <div class="post-body">
                    @if (Model.Author != null)
                    {
                        <div class="post-details float-container">
                            <img class="pull-left author-image" src="@Model.Author.AvatarImagePath" style="border-radius: 50%;" />
                            <div class="pull-left">
                                <p><strong>Author: </strong>@Model.Author.GivenName @Model.Author.FamilyName</p>
                                <p><strong>Updated: </strong>@Model.CurrentPost.DateUpdated.ToString("dd MMM yyyy HH:mm")</p>
                            </div>
                        </div>
                    }

                    <div class="@(UserHelper.IsEditor ? "edit-post-body" : "")">
                        @Html.Raw(Model.CurrentPost.PostBody)
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-5 blog-sidebar">
                <ul class="nav nav-tabs nav-justified">
                    <li role="presentation" class="active"><a href="#tab-comments" aria-controls="tab-comments" role="tab" data-toggle="tab"><span class="fa fa-comment"></span>Comments <span class="hidden-md">(@commentCount)</span></a></li>
                    <li role="presentation" class=""><a href="#tab-viewgallery" aria-controls="tab-viewgallery" role="tab" data-toggle="tab"><span class="fa fa-camera"></span>Gallery <span class="hidden-md">(@galleryCount)</span></a></li>
                    <li role="presentation" class=""><a href="#tab-recent-posts" aria-controls="tab-recent-posts" role="tab" data-toggle="tab"><span class="fa fa-clock-o"></span>Recent <span class="hidden-md">(@Model.RecentPosts.Count())</span></a></li>
                    <li role="presentation" class=""><a href="#tab-similiar-posts" aria-controls="tab-similiar-posts" role="tab" data-toggle="tab"><span class="fa fa-tags"></span>Similiar <span class="hidden-md">(@Model.SimiliarPosts.Count())</span></a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab-comments">@Html.Partial("_Comments", Model.CurrentPost)</div>
                    <div role="tabpanel" class="tab-pane" id="tab-viewgallery">@Html.Partial("_Gallery", Model.CurrentPost)</div>
                    <div role="tabpanel" class="tab-pane float-container" id="tab-recent-posts">@Html.Partial("_List", Model.RecentPosts)</div>
                    <div role="tabpanel" class="tab-pane float-container" id="tab-similiar-posts">@Html.Partial("_List", Model.SimiliarPosts)</div>
                </div>
            </div>
        </div>
    </div>
</div>