@model Portal.CMS.Web.Areas.Admin.ViewModels.CopyManager.CreateViewModel
@{
    Layout = "";
    var textareaSelector = DateTime.Now.ToString("ddMMyyyyHHmmss");
}

<script type="text/javascript">
    tinymce.init({
        selector: "#@textareaSelector",
        theme: "modern",
        plugins: [
            "advlist autolink lists link image charmap print preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars code fullscreen",
            "insertdatetime media nonbreaking save table contextmenu directionality",
            "emoticons template paste textcolor colorpicker textpattern imagetools"
        ],
        toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
        toolbar2: "print preview media | forecolor backcolor emoticons",
        image_advtab: true,
        templates: [
            { title: 'Test template 1', content: 'Test 1' },
            { title: 'Test template 2', content: 'Test 2' }
        ]
    });
</script>

@using (Html.BeginForm("Create", "CopyManager", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationMessage("CopyName")

    <div class="control-group">
        @Html.LabelFor(x => x.CopyName)
        @Html.TextBoxFor(x => x.CopyName, new { placeholder = "Copy Name" })
    </div>

    @Html.ValidationMessage("CopyBody")

    @Html.TextAreaFor(x => x.CopyBody, new { id = textareaSelector })

    <br />

    <div class="footer">
        <button class="btn primary">Create Copy</button>
        <button class="btn" data-dismiss="modal">Cancel</button>
    </div>
}