@model Portal.CMS.Web.Areas.Admin.ViewModels.CopyManager.CopyViewModel
@{
    ViewBag.Title = "Manage Copy";
    ViewBag.Icon = "/Areas/Admin/Content/Images/icon-copy.png";
}

@section HEADScripts
{
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
}

@Html.Action("Render", "QuickAccess", new { area = "Admin", pageType = QuickAccessPageType.CopyManager_Admin })

<div class="row">
    @foreach (var copyItem in Model.CopyList)
    {
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="box float-container light">
                <div class="inner">
                    <h3>@copyItem.CopyName</h3>
                    <p>Last Updated: @copyItem.DateUpdated.ToString("dd/MM/yyyy HH:mm")</p>

                    <div class="admin-container x2">
                        <a href="@Url.Action("Edit", "CopyManager", new { copyId = @copyItem.CopyId })" class="admin-item launch-modal" data-title="Edit Copy: @copyItem.CopyName"><span class="fa fa-pencil"></span>Edit</a>
                        <a href="@Url.Action("Delete", "CopyManager", new { copyId = @copyItem.CopyId })" class="admin-item" data-toggle="confirmation" data-placement="top"><span class="fa fa-trash"></span>Delete</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>