@model Portal.CMS.Web.Areas.Admin.ViewModels.AnalyticManager.ChartViewModel
@{
    string bootstrapSelector = string.Empty;

    switch (Model.ChartSize)
    {
        case ChartSize.Fill: bootstrapSelector = ""; break;
        case ChartSize.TwoThirds: bootstrapSelector = "col-md-9"; break;
        case ChartSize.Half: bootstrapSelector = "col-md-6"; break;
        case ChartSize.Quarter: bootstrapSelector = "col-md-3"; break;
        case ChartSize.Third: bootstrapSelector = "col-xs-12 col-md-6 col-lg-4"; break;
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        var chart = c3.generate({
            bindto: '@string.Format("#{0}", Model.ChartId)',
            data: {
                columns: [ @foreach(var column in Model.ChartColumns) { <text>['@column.ColumnName', @string.Join(",", column.ColumnValues)],</text> }],
                type: '@Model.ChartType.ToString().ToLower()',
            }
        });
    });
</script>

<div class="col-xs-12 @bootstrapSelector">
    <div class="box box-tall">
        <div class="box-title">@Model.ChartName</div>
        <div id="@Model.ChartId"></div>

        @if (Model.ChartLink != null)
        {
            <div class="box-more">
                <a href="@Model.ChartLink.LinkRoute" class="admin-item" data-title="@Model.ChartLink.LinkText">@Model.ChartLink.LinkText</a>
            </div>
        }
    </div>
</div>