@model Portal.CMS.Web.Areas.Admin.ViewModels.PageManager.PagesViewModel
@{
    ViewBag.Title = "Analytic Manager";
    ViewBag.Icon = "/Areas/Admin/Content/Images/icon-reports.png";
}

@section Styles
{
    @Styles.Render("~/Plugins/C3Graphing/Styles")
}

@section HEADScripts
{
    @Scripts.Render("~/Plugins/C3Graphing/Scripts")
    <script type="text/javascript">$(document).ready(function () { $('.reframe').click(function (e) { window.dispatchEvent(new Event('resize')); }) });</script>
}

@Html.Action("Render", "QuickAccess", new { area = "Admin", pageType = QuickAccessPageType.ExitAdministrationPanel_Admin })

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a class="reframe" href="#tab-day" aria-controls="tab-day" role="tab" data-toggle="tab"><span class="fa fa-clock-o"></span>Today</a></li>
    <li role="presentation" class=""><a class="reframe" href="#tab-week" aria-controls="tab-week" role="tab" data-toggle="tab"><span class="fa fa-road"></span>This Week</a></li>
    <li role="presentation" class=""><a class="reframe" href="#tab-month" aria-controls="tab-month" role="tab" data-toggle="tab"><span class="fa fa-calendar"></span>This Month</a></li>
    <li role="presentation" class=""><a class="reframe" href="#tab-all" aria-controls="tab-all" role="tab" data-toggle="tab"><span class="fa fa-th-large"></span>All Time</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab-day">
        <div class="row">
            <div class="load-action" data-url="@Url.Action("TotalHitsToday", "AnalyticManager", new { chartSize = ChartSize.Third })"></div>
            <div class="load-action" data-url="@Url.Action("TopPages", "AnalyticManager", new { chartSize = ChartSize.Third, timePeriod = TimePeriod.Today })"></div>
            <div class="load-action" data-url="@Url.Action("TopPosts", "AnalyticManager", new { chartSize = ChartSize.Third, timePeriod = TimePeriod.Today })"></div>
            <div class="load-action" data-url="@Url.Action("TopPostCategories", "AnalyticManager", new { chartSize = ChartSize.Third, timePeriod = TimePeriod.Today })"></div>
            <div class="load-action" data-url="@Url.Action("ErrorPercentage", "AnalyticManager", new { chartName = "Error Percentage (Today)", chartSize = ChartSize.Third, sinceDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day) })"></div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab-week">
        @{
            DateTime firstDayOfweek = DateTime.Now;
            while (firstDayOfweek.DayOfWeek != DayOfWeek.Monday)
            {
                firstDayOfweek = firstDayOfweek.AddDays(-1);
            }
        }
        <div class="row">
            <div class="load-action" data-url="@Url.Action("TotalHitsWeekly", "AnalyticManager", new { chartSize = ChartSize.Third })"></div>
            <div class="load-action" data-url="@Url.Action("TopPages", "AnalyticManager", new { chartSize = ChartSize.Third, timePeriod = TimePeriod.Week })"></div>
            <div class="load-action" data-url="@Url.Action("TopPosts", "AnalyticManager", new { chartSize = ChartSize.Third, timePeriod = TimePeriod.Week })"></div>
            <div class="load-action" data-url="@Url.Action("TopPostCategories", "AnalyticManager", new { chartSize = ChartSize.Third, timePeriod = TimePeriod.Week })"></div>
            <div class="load-action" data-url="@Url.Action("ErrorPercentage", "AnalyticManager", new { chartName = "Error Percentage (This Week)", chartSize = ChartSize.Third, sinceDate = new DateTime(firstDayOfweek.Year, firstDayOfweek.Month, firstDayOfweek.Day) })"></div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab-month">
        <div class="row">
            <div class="load-action" data-url="@Url.Action("TotalHitsMonthly", "AnalyticManager", new { chartSize = ChartSize.Third })"></div>
            <div class="load-action" data-url="@Url.Action("TopPages", "AnalyticManager", new { chartSize = ChartSize.Third, timePeriod = TimePeriod.Month })"></div>
            <div class="load-action" data-url="@Url.Action("TopPosts", "AnalyticManager", new { chartSize = ChartSize.Third, timePeriod = TimePeriod.Month })"></div>
            <div class="load-action" data-url="@Url.Action("TopPostCategories", "AnalyticManager", new { chartSize = ChartSize.Third, timePeriod = TimePeriod.Month })"></div>
            <div class="load-action" data-url="@Url.Action("ErrorPercentage", "AnalyticManager", new { chartName = "Error Percentage (This Month)", chartSize = ChartSize.Third, sinceDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1) })"></div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab-all">
        <div class="row">
            <div class="load-action" data-url="@Url.Action("TopPages", "AnalyticManager", new { chartSize = ChartSize.Third, timePeriod = TimePeriod.All })"></div>
            <div class="load-action" data-url="@Url.Action("TopPosts", "AnalyticManager", new { chartSize = ChartSize.Third, timePeriod = TimePeriod.All })"></div>
            <div class="load-action" data-url="@Url.Action("TopPostCategories", "AnalyticManager", new { chartSize = ChartSize.Third, timePeriod = TimePeriod.All })"></div>
            <div class="load-action" data-url="@Url.Action("ErrorPercentage", "AnalyticManager", new { chartName = "Error Percentage (All Time)", chartSize = ChartSize.Half, sinceDate = DateTime.MinValue })"></div>
        </div>
    </div>
</div>