@model Portal.CMS.Web.Areas.Admin.ViewModels.ThemeManager.ThemeViewModel
@{
    ViewBag.Title = "Theme Manager";
    ViewBag.Icon = "/Areas/Admin/Content/Images/icon-thememanager.png";
}

<div class="alert alert-warning" role="alert">Upload new Fonts for your Themes using the <a href="@Url.Action("Index", "MediaManager")" class="alert-link">Media Manager</a>.</div>

@Html.Action("Render", "QuickAccess", new { area = "Admin", pageType = QuickAccessPageType.ThemeManager_Admin })

<style>
    @foreach(var font in Model.Fonts)
    {
        <text>@@font-face { font-family: '@font.FontName'; src: url('@font.FontPath') format('@font.FontType'); }</text>
    }
</style>

<div class="row">
    @foreach (var theme in Model.Themes)
    {
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="box float-container" style="min-height: 275px; padding-bottom: 60px;">
                @if (theme.IsDefault)
                {
                    <div class="category-item">Active</div>
                }
                <h3 style="font-family: '@theme.TitleFont.FontName';">@theme.ThemeName</h3>
                <p style="word-wrap: break-word; font-family: '@theme.TextFont.FontName';">ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
                <p style="word-wrap: break-word; font-family: '@theme.TextFont.FontName';">abcdefghijklmnopqrstuvwaxyz</p>

                @if (theme.IsDefault)
                {
                    <div class="admin-container x2">
                        <a href="@Url.Action("Edit", "ThemeManager", new { themeId = @theme.ThemeId})" class="admin-item launch-modal" data-title="Edit Theme" data-container="body" data-placement="top"><span class="fa fa-pencil"></span>Edit</a>
                        <a href="@Url.Action("Delete", "ThemeManager", new { themeId = @theme.ThemeId})" class="admin-item" data-title="Delete Theme" data-container="body" data-toggle="confirmation" data-placement="top"><span class="fa fa-trash"></span>Delete</a>
                    </div>
                }
                else
                {
                    <div class="admin-container x3">
                        <a href="@Url.Action("Edit", "ThemeManager", new { themeId = @theme.ThemeId})" class="admin-item launch-modal" data-title="Edit Theme" data-container="body" data-placement="top"><span class="fa fa-pencil"></span>Edit</a>
                        <a href="@Url.Action("Default", "ThemeManager", new { themeId = @theme.ThemeId})" class="admin-item launch-modal" data-title="Set Default Theme" data-container="body" data-placement="top"><span class="fa fa-paint-brush"></span>Apply</a>
                        <a href="@Url.Action("Delete", "ThemeManager", new { themeId = @theme.ThemeId})" class="admin-item" data-title="Delete Theme" data-container="body" data-toggle="confirmation" data-placement="top"><span class="fa fa-trash"></span>Delete</a>
                    </div>
                }
            </div>
        </div>
    }
</div>