@model Portal.CMS.Web.Areas.Admin.ViewModels.UserManager.DetailsViewModel
@{
    Layout = "";
}

@using (Html.BeginForm("Details", "UserManager", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.UserId)

    @Html.ValidationMessage("EmailAddress")
    <div class="control-group">
        @Html.LabelFor(x => x.EmailAddress)
        @Html.TextBoxFor(x => x.EmailAddress, new { placeholder = "Email" })
    </div>

    @Html.ValidationMessage("GivenName")
    <div class="control-group">
        @Html.LabelFor(x => x.GivenName)
        @Html.TextBoxFor(x => x.GivenName, new { placeholder = "Given Name" })
    </div>

    @Html.ValidationMessage("FamilyName")
    <div class="control-group">
        @Html.LabelFor(x => x.FamilyName)
        @Html.TextBoxFor(x => x.FamilyName, new { placeholder = "Last Name" })
    </div>

    <div class="footer">
        <button class="btn primary"><span class="fa fa-check"></span><span class="hidden-xs">Save</span></button>
        <button class="btn" data-dismiss="modal"><span class="fa fa-times"></span><span class="hidden-xs">Cancel</span></button>
    </div>
}