@model Portal.CMS.Web.Areas.Admin.ViewModels.UserManager.UsersViewModel
@{
    ViewBag.Title = "User Manager";
    ViewBag.Icon = "/Areas/Admin/Content/Images/icon-users.png";
}

@Html.Action("Render", "QuickAccess", new { area = "Admin", pageType = QuickAccessPageType.UserManagement_Admin })

<div class="row">
    @foreach (var user in Model.Users)
    {
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="box float-container">

                <div class="row" style="height: 120px;">
                    <div class="col-xs-3 vertical-alignment">
                        <img src="@user.AvatarImagePath" class="avatar" alt="User Avatar" style="border-radius: 50%;" />
                    </div>
                    <div class="col-xs-9 vertical-alignment" style="text-align: left; padding-left: 40px;">
                        <h3>@user.GivenName @user.FamilyName</h3>
                        <p>@user.EmailAddress</p>
                    </div>
                </div>

                @if (user.UserId == UserHelper.UserId)
                {
                    <div class="admin-container x2">
                        <a href="@Url.Action("Details", "UserManager", new { userId = @user.UserId })" class="admin-item launch-modal" data-title="Edit Details"><span class="fa fa-pencil"></span>Details</a>
                        <a href="@Url.Action("Roles", "UserManager", new { userId = @user.UserId })" class="admin-item launch-modal" data-title="Edit Roles"><span class="fa fa-building"></span>Roles</a>
                    </div>
                }
                else
                {
                    <div class="admin-container x3">
                        <a href="@Url.Action("Details", "UserManager", new { userId = @user.UserId })" class="admin-item launch-modal" data-title="Edit Details"><span class="fa fa-pencil"></span>Details</a>
                        <a href="@Url.Action("Roles", "UserManager", new { userId = @user.UserId })" class="admin-item launch-modal" data-title="Edit Roles"><span class="fa fa-building"></span>Roles</a>
                        <a href="@Url.Action("Delete", "UserManager", new { userId = @user.UserId })" class="admin-item" data-toggle="confirmation" data-placement="top" data-container="body"><span class="fa fa-trash"></span>Delete</a>
                    </div>
                }
            </div>
        </div>
    }
</div>