@model Portal.CMS.Web.Areas.Builder.ViewModels.Section.AddViewModel
@{
    Layout = "";
}

<link href="~/Areas/Admin/Content/Styles/Framework/bundle.min.css" rel="stylesheet" />
<link href="~/Areas/Builder/Content/Styles/pagebuilder.css" rel="stylesheet" />

<style>
    .section-preview section
    {
        zoom: 0.35;
        margin-bottom: 30px;
        overflow: hidden;
    }
</style>

<script type="text/javascript">
    $('.builder-item').on('click', function (e) {
        var sectionTypeId = $(this).attr("data-sectiontypeid");

        $('#PageSectionTypeId').val(sectionTypeId);

        $('#submit-button').click();
    });
</script>

@using (Html.BeginForm("Add", "Section", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.PageId)
    @Html.HiddenFor(x => x.PageSectionTypeId);

    <button id="submit-button" type="submit" style="display: none;"></button>
}

<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><a href="#tab-all" aria-controls="tab-all" role="tab" data-toggle="tab">All</a></li>
</ul>

<div class="row builder-picker">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active float-container" id="tab-markup">
            @foreach (var sectionType in Model.SectionTypeList)
            {
                <div class="col-xs-12">
                    <div class="builder-item" data-sectiontypeid="@sectionType.PageSectionTypeId">
                        <div class="section-preview float-container">
                            @Html.Raw(sectionType.PageSectionTypeBody)
                        </div>

                        <h4>@sectionType.PageSectionTypeName</h4>
                    </div>
                </div>
            }
        </div>
    </div>
</div>