@model Portal.CMS.Web.Areas.Builder.ViewModels.Section.AddViewModel
@{
    Layout = "";
}

@using (Html.BeginForm("Add", "Section", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.PageId)
    @Html.HiddenFor(x => x.PageSectionTypeId);

    <button id="submit-button" type="submit" style="display: none;"></button>
}

<div id="section-panel" class="panel-overlay">
    <div class="panel-title">
        <h4>Add Section</h4>
        <div class="panel-action right" onclick="ClosePanels();"><span class="fa fa-remove"></span></div>
        <div class="panel-action right"data-toggle="popover" data-trigger="click" data-container="body" data-placement="bottom" data-title="Add Section" data-content="Its easy to add a pre designed section to your page, simply click the one you want to add and it will appear at the bottom of your page."><span class="fa fa-info"></span></div>
    </div>

    <div class="panel-inner">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#tab-headers" aria-controls="tab-headers" role="tab" data-toggle="tab">Headers</a></li>
            <li role="presentation" class=""><a href="#tab-content" aria-controls="tab-content" role="tab" data-toggle="tab">Content</a></li>
            <li role="presentation" class=""><a href="#tab-design" aria-controls="tab-design" role="tab" data-toggle="tab">Design</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active float-container" id="tab-headers" style="padding: 9px;">
                @foreach (var sectionType in Model.SectionTypeList.Where(x => x.PageSectionTypeCategory == Portal.CMS.Entities.Entities.PageBuilder.PageSectionTypeCategory.Header))
                {
                    <div class="section-preview float-container" data-sectiontypeid="@sectionType.PageSectionTypeId">@Html.Raw(sectionType.PageSectionTypeBody)</div>
                }
            </div>
            <div role="tabpanel" class="tab-pane float-container" id="tab-content" style="padding: 9px;">
                @foreach (var sectionType in Model.SectionTypeList.Where(x => x.PageSectionTypeCategory == Portal.CMS.Entities.Entities.PageBuilder.PageSectionTypeCategory.Content))
                {
                    <div class="section-preview float-container" data-sectiontypeid="@sectionType.PageSectionTypeId">@Html.Raw(sectionType.PageSectionTypeBody)</div>
                }
            </div>
            <div role="tabpanel" class="tab-pane float-container" id="tab-design" style="padding: 9px;">
                @foreach (var sectionType in Model.SectionTypeList.Where(x => x.PageSectionTypeCategory == Portal.CMS.Entities.Entities.PageBuilder.PageSectionTypeCategory.Misc))
                {
                    <div class="section-preview float-container" data-sectiontypeid="@sectionType.PageSectionTypeId">@Html.Raw(sectionType.PageSectionTypeBody)</div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // Bootstrap Popover
        $('.panel-action').popover();

        $('#section-panel .section-preview').on('click', function (e) {
            var sectionTypeId = $(this).attr("data-sectiontypeid");
            $('#PageSectionTypeId').val(sectionTypeId);
            $('#submit-button').click();
        });
    });
</script>