@model Portal.CMS.Web.Areas.Builder.ViewModels.Section.EditViewModel
@{
    Layout = "";
}

@Scripts.Render("~/Resources/JavaScript/ImageSelector")
@Styles.Render("~/Resources/CSS/Spectrum")
@Scripts.Render("~/Resources/JavaScript/Spectrum")
@Scripts.Render("~/Resources/JavaScript/Pagination")

<script type="text/javascript">
    $(".spectrum").spectrum({
        flat: false,
        showInput: true,
        preferredFormat: "hex",
        showButtons: false,
    });

    function Delete()
    {
        $('#section-wrapper-@Model.SectionId').remove();

        var dataParams = { "pageSectionId": @Model.SectionId, "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() };

        $.ajax({
            data: dataParams,
            type: 'POST',
            cache: false,
            url: '@Url.Action("Delete", "Section", new { area = "Builder" })',
            success: function (data) {
                if (data.State === false)
                {
                    alert("Error: The document has lost synchronisation. Reloading document...");
                    location.reload();
                }
            },
        });
    }

    $(".checkbox-option").click(function (event) {
        $(".checkbox-option").removeClass("selected");
        $(this).addClass("selected");

        var backgroundType = $(this).attr("data-backgroundtype");
        $('#BackgroundType').val(backgroundType);

        if (backgroundType === "picture")
        {
            $('.panel-colour').slideUp(300);
            $('.panel-upload').slideUp(300);
            $('.panel-picture').slideDown(300);
        }
        else if (backgroundType === "upload")
        {
            $('.panel-picture').slideUp(300);
            $('.panel-upload').slideDown(300);
            $('.panel-colour').slideUp(300);
        }
        else
        {
            $('.panel-picture').slideUp(300);
            $('.panel-upload').slideUp(300);
            $('.panel-colour').slideDown(300);
        }
    });

    var backgroundType = '@Model.BackgroundType';

    if (backgroundType === "background-picture")
    {
        $('.checkbox-option.picture').click();
    }
    else
    {
        $('.checkbox-option.colour').click();
    }
</script>

@using (Html.BeginForm("Edit", "Section", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.SectionId)
    @Html.HiddenFor(x => x.BackgroundImageId)
    @Html.HiddenFor(x => x.BackgroundType)

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#tab-edit" aria-controls="tab-edit" role="tab" data-toggle="tab">Edit Section</a></li>
        <li role="presentation" class=""><a href="#tab-background" aria-controls="tab-background" role="tab" data-toggle="tab">Background<span class="badge">@Model.ImageList.Count()</span></a></li>
    </ul>
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="tab-edit">
            <div class="control-group">
                @Html.LabelFor(x => x.PageSectionHeight)
                @Html.EnumDropDownListFor(m => m.PageSectionHeight, new { @class = "form-control" })
            </div>

            <br />
            <div class="alert alert-warning" role="alert">A user must have at least one of the roles selected below to see this Section. To show the Section to all users select no roles.</div>
            <div class="control-group control-textarea float-container">
                @Html.LabelFor(x => x.SelectedRoleList)
                @Html.ListBoxFor(m => m.SelectedRoleList, Model.RoleList.Select(r => new SelectListItem { Text = r.RoleName, Value = r.RoleName.ToString(), Selected = Model.SelectedRoleList != null && Model.SelectedRoleList.Contains(r.RoleName) }))
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="tab-background">
            <div id="banner-selector" class="image-selector x4 single float-container">
                <h4>Background Type</h4>
                <p>Choose whether to use a picture background or a solid colour background for your Section.</p>

                <div class="checkbox-group float-container">
                    <div class="checkbox-option picture" data-backgroundtype="upload"><div class="check"><span class="fa fa-check"></span></div><p>Upload a Photo</p></div>
                    <div class="checkbox-option picture" data-backgroundtype="picture"><div class="check"><span class="fa fa-check"></span></div><p>Picture Background</p></div>
                    <div class="checkbox-option colour" data-backgroundtype="colour"><div class="check"><span class="fa fa-check"></span></div><p>Solid Colour</p></div>
                </div>

                <div class="panel panel-upload" style="display: none;">
                    <div class="control-group">
                        @Html.LabelFor(x => x.AttachedImage)
                        @Html.TextBoxFor(m => m.AttachedImage, new { @type = "file" })
                    </div>

                    <div class="control-group">
                        @Html.LabelFor(x => x.ImageCategory)
                        @Html.EnumDropDownListFor(m => m.ImageCategory, new { @class = "form-control" })
                    </div>
                </div>

                <div class="panel panel-picture" style="display: none;">
                    <div class="control-group wide-label">
                        @Html.LabelFor(x => x.PageSectionBackgroundStyle)
                        @Html.EnumDropDownListFor(m => m.PageSectionBackgroundStyle)
                    </div>

                    <div class="pagination-wrapper" data-type="images">
                        @for (var page = 1; page <= Model.ImagePageCount; page += 1)
                        {
                            <div id="page-@page" class="pagination-page" data-page="@page" style="@(page == 1 ? "" : "display: none;")">
                                @foreach (var image in Model.ImageList.Skip((page - 1) * 8).Take(8))
                                {
                                    <img class="thumbnail" data-parent="banner-selector" data-target="BackgroundImageId" data-identifier="@image.ImageId" src="@image.ImagePath" />
                                }
                            </div>
                        }
                    </div>

                    <nav aria-label="Image Page List">
                        <ul class="pagination">
                            @for (var page = 1; page <= Model.ImagePageCount; page += 1)
                            {
                                <li><a class="pagination-button @(page == 1 ? "active" : "")" data-page="@page" data-type="images" href="#page-@page">@page</a></li>
                            }
                        </ul>
                    </nav>
                </div>

                <div class="panel panel-colour" style="display: none;">
                    <div class="alert alert-warning" role="alert">Pick the colour you want in the background of your selection using the picker below.</div>

                    @Html.ValidationMessage("BackgroundColour")
                    <div class="control-group wide-label">
                        @Html.LabelFor(x => x.BackgroundColour)
                        @Html.TextBoxFor(x => x.BackgroundColour, new { @class = "spectrum" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="footer">
        <button class="btn primary"><span class="fa fa-check"></span><span class="hidden-xs">Save</span></button>
        <button class="btn delete" onclick="Delete()" data-dismiss="modal"><span class="fa fa-trash"></span><span class="hidden-xs">Delete</span></button>
        <button class="btn" data-dismiss="modal"><span class="fa fa-times"></span><span class="hidden-xs">Cancel</span></button>
    </div>
}