@model Portal.CMS.Web.Areas.Builder.ViewModels.Section.EditViewModel
@{
    Layout = "";
}

<script src="~/Areas/Admin/Content/Scripts/imageselector.js"></script>

<script type="text/javascript">
    function Delete()
    {
        $('#section-wrapper-@Model.SectionId').remove();

        var dataParams = { "pageSectionId": @Model.SectionId, "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() };

        $.ajax({
            data: dataParams,
            type: 'POST',
            cache: false,
            url: '@Url.Action("Delete", "Section", new { area = "Builder" })',
            success: function (data) {
                if (data.State === false)
                {
                    alert("Error: The document has lost synchronisation. Reloading document...");
                    location.reload();
                }
            },
        });
    }
</script>

@using (Html.BeginForm("Edit", "Section", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.SectionId)
    @Html.HiddenFor(x => x.BackgroundImageId)

    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a href="#tab-edit" aria-controls="tab-edit" role="tab" data-toggle="tab">Edit Section</a></li>
        <li role="presentation" class=""><a href="#tab-background" aria-controls="tab-background" role="tab" data-toggle="tab">Background Image</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab-edit">
            <div class="control-group float-container">
                @Html.LabelFor(x => x.PageSectionHeight)
                @Html.EnumDropDownListFor(m => m.PageSectionHeight, new { @class = "form-control" })
            </div>

            <div class="control-group float-container">
                @Html.LabelFor(x => x.PageSectionBackgroundType)
                @Html.EnumDropDownListFor(m => m.PageSectionBackgroundType, new { @class = "form-control" })
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab-background">
            <div id="banner-selector" class="image-selector x4 single float-container">
                @foreach (var image in Model.ImageList.Where(x => x.ImageCategory != Portal.CMS.Entities.Entities.Generic.ImageCategory.Icon))
                {
                    <img class="thumbnail" data-parent="banner-selector" data-target="BackgroundImageId" data-identifier="@image.ImageId" src="@image.ImagePath" />
                }
            </div>
        </div>
    </div>

    <br />

    <div class="footer">
        <button class="btn primary">Save</button>
        <a onclick="Delete();" data-dismiss="modal" class="btn delete">Delete</a>
        <button class="btn" data-dismiss="modal">Cancel</button>
    </div>
}