@model Portal.CMS.Web.Areas.Builder.ViewModels.Section.EditPartialViewModel
@{
    Layout = "";
}

<script type="text/javascript">
    function Delete()
    {
        $('#partial-wrapper-@Model.PagePartialId').slideUp();

        var dataParams = { "pageAssociationId": @Model.PageAssociationId, "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() };

        $.ajax({
            data: dataParams,
            type: 'POST',
            cache: false,
            url: '@Url.Action("Delete", "Section", new { area = "Builder" })',
            success: function (data) {
                if (data.State === false)
                {
                    alert("Error: The document has lost synchronisation. Reloading document...");
                    location.reload();
                }
            },
        });
    }

        $('#customForm').submit(function (e) {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            cache: false,
            beforeSend: function () {
                setModalEditorContent('<div class="spinner"></div>');
            },
            success: function (result) {
                if (result.State === true)
                {
                    $('.modal').modal('toggle');
                }
                else
                {
                    alert("Error: The document has lost synchronisation. Reloading document...");
                    location.reload();
                }
            }
        });

        return false;
    });
</script>

@using (Html.BeginForm("EditPartial", "Section", FormMethod.Post, new { id = "customForm" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.PageAssociationId)
    @Html.HiddenFor(x => x.PagePartialId)

    <div class="alert alert-warning" role="alert">A user must have at least one of the roles selected below to see this Section. To show the Section to all users select no roles.</div>
    <div class="control-group control-textarea float-container">
        @Html.LabelFor(x => x.SelectedRoleList)
        @Html.ListBoxFor(m => m.SelectedRoleList, Model.RoleList.Select(r => new SelectListItem { Text = r.RoleName, Value = r.RoleName.ToString(), Selected = Model.SelectedRoleList != null && Model.SelectedRoleList.Contains(r.RoleName) }))
    </div>

    <br /><br />

    <div class="footer">
        <button class="btn primary"><span class="fa fa-check"></span><span class="hidden-xs">Save</span></button>
        <button class="btn delete" onclick="Delete();" data-dismiss="modal"><span class="fa fa-trash"></span><span class="hidden-xs">Delete</span></button>
        <button class="btn" data-dismiss="modal" onclick="DestroySpectrum();"><span class="fa fa-times"></span><span class="hidden-xs">Cancel</span></button>
    </div>
}