@model Portal.CMS.Web.Areas.Admin.ViewModels.Authentication.LoginViewModel
@using Portal.CMS.Web.Areas.Admin.Helpers;
@{
    Layout = "";
}
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#tab-login" aria-controls="tab-login" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-lock"></span>Login</a></li>
    @if (!string.IsNullOrWhiteSpace(SettingHelper.Get("SendGrid UserName")))
    {
        <li role="presentation" class=""><a href="#tab-forgot" aria-controls="tab-forgot" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-question-sign"></span>Forgot Password?</a></li>
    }
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab-login">
        @Html.Action("Get", "Copy", new { area = "Admin", copyName = "Sign In Message" })

        @using (Html.BeginForm("Login", "Authentication", FormMethod.Post, new { id = "loginForm" }))
            {
            @Html.AntiForgeryToken()

            @Html.ValidationMessage("InvalidCredentials")

            @Html.ValidationMessage("EmailAddress")
            <div class="control-group float-container">
                @Html.LabelFor(x => x.EmailAddress)
                @Html.TextBoxFor(x => x.EmailAddress, new { placeholder = "Email Address" })
            </div>

                @Html.ValidationMessage("Password")
                <div class="control-group float-container">
                    @Html.LabelFor(x => x.Password)
                    @Html.PasswordFor(x => x.Password, new { placeholder = "Password" })
                </div>

                <div class="button-group float-container">
                    <button class="btn primary">Sign In</button>
                    <button class="btn" data-dismiss="modal">Cancel</button>
                </div>
        }
    </div>
    <div role="tabpanel" class="tab-pane" id="tab-forgot">
        @using (Html.BeginForm("Forgot", "Authentication", FormMethod.Post, new { id = "loginForm" }))
            {
            @Html.AntiForgeryToken()

            <span class="field-validation-help">We will send you a link by email that you can use to reset your password.</span>

                @Html.ValidationMessage("EmailAddress")
                <div class="control-group float-container">
                    @Html.LabelFor(x => x.EmailAddress)
                    @Html.TextBoxFor(x => x.EmailAddress, new { placeholder = "Email Address" })
                </div>

                <div class="button-group float-container">
                    <button class="btn primary">Send Email</button>
                    <button class="btn" data-dismiss="modal">Cancel</button>
                </div>
        }
    </div>
</div>