@model Portal.CMS.Web.ViewModels.Custom.AdvancedViewModel
@{
    Layout = "";
}

<section class="blank height-small background-static background-colour" style="background-color: #FFFFFF;">
    <div class="container">
        @Html.Action("Get", "CopyManager", new { area = "Admin", copyName = "Advanced Partial Message" })

        <div class="row">
            @for (int loop = 0; loop < 3; loop += 1)
            {
                if (loop < Model.PostList.Count)
                {
                    var post = Model.PostList[loop];

                    var bannerImagePath = "/Areas/Builder/Content/Images/Sample/Sample-1.jpg";

                    if (post.PostImages.Any(x => x.PostImageType == PostImageType.Banner))
                    {
                        bannerImagePath = post.PostImages.First(x => x.PostImageType == PostImageType.Banner).Image.ImagePath;
                    }

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="@bannerImagePath" alt="@post.PostTitle" />
                            <div class="caption">
                                <h3>@post.PostTitle</h3>
                                <p>@post.PostDescription</p>
                                <p><a href="@Url.Action("Index", "Blog", new { area = "", id = @post.PostId })" class="btn btn-primary" role="button">Read Post</a></p>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="~/Areas/Builder/Content/Images/Sample/Sample-1.jpg" alt="Coming Soon" />
                            <div class="caption">
                                <h3>Coming Soon</h3>
                                <p>This post is coming soon, please check back later</p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>