@model Portal.CMS.Entities.Entities.Post

@if (Model != null)
{
    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="box article-item dark" style="min-height: 330px; @string.Format("background-image: url('{0}'); color: white;", Model.BannerImageUrl())">
            <div class="box-title">Latest Post</div>
            <div class="inner">
                <div class="category-item">@Model.PostCategory.PostCategoryName</div>
                <h3>@(Model.IsPublished ? "" : "Draft: ") @Model.PostTitle</h3>
                <p>@Model.PostDescription</p>

                <div class="admin-container x3">
                    <a href="@Url.Action("Create", "BlogManager")" class="admin-item launch-modal" data-title="Create Post"><span class="fa fa-plus"></span>Create</a>
                    <a href="@Url.Action("Edit", "BlogManager", new { postId = Model.PostId })" class="admin-item launch-modal" data-title="Edit Post: @Model.PostTitle"><span class="fa fa-pencil"></span>Edit</a>
                    <a href="@Url.Action("Index", "BlogManager")" class="admin-item" data-title="Manage Posts"><span class="fa fa-th-list"></span>More</a>
                </div>
            </div>
            <div class="overlay overlay-medium"></div>
        </div>
    </div>
}
else
{
    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="box">
            <div class="box-title">Latest Post</div>

            <h3>No Posts Found</h3>
            <p>You haven't created any Posts yet, but don't worry as soon as you do it will show up on your Dashboard.</p>

            <div class="admin-container x1">
                <a href="@Url.Action("Create", "BlogManager")" class="admin-item launch-modal" data-title="Create Post" data-toggle="popover" data-trigger="hover" data-container="body" data-placement="top" data-content="Create a new Post."><span class="fa fa-plus"></span>Create Post</a>
            </div>
        </div>
    </div>
}