@model List<Portal.CMS.Entities.Entities.Posts.PostComment>

@if (Model == null || !Model.Any())
{
    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="box">
            <div class="box-title">Latest Comments</div>

            <h3>No Comments Found</h3>
            <p>Your visitors haven't left any comments yet, but don't worry as soon as they do they will show up on your Dashboard.</p>
        </div>
    </div>
}
else
{
    <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="box dark" style="background-image: url('/Areas/Admin/Content/Images/Pages/Dashboard/image-comments.jpg');">
            <div class="box-title">Latest Comments</div>
            <div class="inner">
                @if (Model.Count() > 0)
                {
                    <div style="margin-bottom: 20px; padding-top: 15px;">
                        <h4><strong>@Model[0].User.GivenName @Model[0].User.FamilyName</strong> <i>on @Model[0].Post.PostTitle</i></h4>
                        <p>"@Model[0].CommentBody"</p>
                    </div>
                }
                @if (Model.Count() == 2)
                {
                    <div>
                        <h4><strong>@Model[1].User.GivenName @Model[1].User.FamilyName</strong> <i>on @Model[1].Post.PostTitle</i></h4>
                        <p>"@Model[1].CommentBody"</p>
                    </div>
                }
            </div>
            @*<div class="admin-container x1">
                <a href="@Url.Action("Index", "Comments")" class="admin-item" data-title="Review Comments"><span class="glyphicon glyphicon-comment"></span>Read</a>
            </div>*@
            <div class="overlay-dark"></div>
        </div>
    </div>
}