@model Portal.CMS.Web.Areas.Admin.ViewModels.Dashboard.QuickAccessViewModel

<div class="page-admin-wrapper admin-wrapper animated zoomInUp">
    @foreach (var category in Model.Categories)
    {
        <a href="@category.Link" class="button @category.CssClass @(category.LaunchModal ? "launch-modal" : "")" data-toggle="popover" data-placement="top" data-trigger="click" data-title="@(!string.IsNullOrWhiteSpace(category.Link) ? category.DesktopText : "")" data-container="body"><span class="click-through"><span class="@category.Icon" style="float: left;"></span><span class="hidden-xs visible-sm visible-md visible-lg" style="float: left;">@category.DesktopText</span><span class="visible-xs hidden-sm hidden-md hidden-lg" style="float: left;">@category.MobileText</span></span></a>
    }

    @foreach (var category in Model.Categories)
    {
        <div id="popover-@category.CssClass" class="list-group" style="display: none;">
            <div class="popover-menu">
                @foreach (var action in category.Actions)
                {
                    <a class="list-group-item @(action.LaunchModal ? "launch-modal" : "")" onclick="@action.JavaScript" href="@action.Link" data-title="@action.Text"><span class="@action.Icon"></span>@action.Text</a>
                }
            </div>
        </div>
    }
</div>