@model Portal.CMS.Web.Areas.Admin.ViewModels.Dashboard.DashboardViewModel
@using Portal.CMS.Web.Areas.Admin.Helpers;
@using Portal.CMS.Entities.Entities.Posts;
@using Portal.CMS.Entities.Entities.Analytics;
@{
    ViewBag.Title = "Portal CMS";
    ViewBag.Icon = "/Areas/Admin/Content/Images/icon-dashboard.png";
}

@section Styles
{
    <link href="~/Areas/Admin/Content/Plugins/FancyBox/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/Plugins/FancyBox/jquery.fancybox-thumbs.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/Plugins/C3Graphing/c3.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/Styles/Pages/dashboard.css" rel="stylesheet" />
}

@section HEADScripts
{
    <script src="~/Areas/Admin/Content/Plugins/FancyBox/jquery.fancybox.js"></script>
    <script src="~/Areas/Admin/Content/Plugins/FancyBox/jquery.fancybox-thumbs.js"></script>
    <script src="~/Areas/Admin/Content/Plugins/FancyBox/initialise.js"></script>
    <script src="~/Areas/Admin/Content/Plugins/C3Graphing/c3.min.js"></script>
    <script src="~/Areas/Admin/Content/Plugins/C3Graphing/d3.min.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
}

<div class="row">
    @Html.Partial("_Welcome")
    @Html.Partial("_MyAccount")
    @Html.Partial("_LatestPost", new ViewDataDictionary(Model.LatestPost))
    @Html.Action("TotalHitsToday", "Analytics", new { chartSize = ChartSize.Third })
    @Html.Action("TotalHitsWeekly", "Analytics", new { chartSize = ChartSize.Third })
    @Html.Partial("_MediaManager", new ViewDataDictionary(Model.Media))
</div>