@model Portal.CMS.Web.Areas.Admin.ViewModels.Dashboard.DashboardViewModel
@using Portal.CMS.Web.Areas.Admin.Helpers;
@using Portal.CMS.Entities.Entities.Posts;
@using Portal.CMS.Entities.Entities.Analytics;
@{
    ViewBag.Title = "Portal CMS";
    ViewBag.Icon = "/Areas/Admin/Content/Images/icon-dashboard.png";
}

@section Styles
{
    @Styles.Render("~/Resources/CSS/FancyBox")
    @Styles.Render("~/Resources/CSS/C3Graphing")
    @Styles.Render("~/Resources/CSS/Misc/Dashboard")
}

@section HEADScripts
{
    @Scripts.Render("~/Resources/JavaScript/FancyBox")
    @Scripts.Render("~/Resources/JavaScript/C3Graphing")
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
}

<div class="row">
    @Html.Partial("_Welcome")
    @Html.Partial("_MyAccount")
    @Html.Partial("_LatestPost", new ViewDataDictionary(Model.LatestPost))
    @Html.Action("TotalHitsToday", "Analytics", new { chartSize = ChartSize.Third })
    @Html.Action("TotalHitsWeekly", "Analytics", new { chartSize = ChartSize.Third })
    @Html.Partial("_MediaManager", new ViewDataDictionary(Model.Media))
</div>