@model Portal.CMS.Web.Areas.Admin.ViewModels.RoleManager.EditViewModel
@{
    Layout = "";
}

@using (Html.BeginForm("Edit", "RoleManager", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.RoleId)

    @Html.ValidationMessage("RoleName")

    <div class="control-group">
        @Html.LabelFor(x => x.RoleName)

        @if (Model.RoleName != "Admin" && Model.RoleName != "Authenticated")
        {
            @Html.TextBoxFor(x => x.RoleName, new { placeholder = "Role Name" })
        }
        else
        {
            @Html.TextBoxFor(x => x.RoleName, new { placeholder = "Role Name", @readonly = "True" })
        }
    </div>

    <br />

    <div class="footer">
        <button class="btn primary">Save</button>
        @if (Model.RoleName != "Admin" && Model.RoleName != "Authenticated")
        {
            <a href="@Url.Action("Delete", "RoleManager", new { roleId = Model.RoleId })" class="btn delete">Delete</a>
        }
        <button class="btn" data-dismiss="modal">Cancel</button>
    </div>
}