@model Portal.CMS.Web.Areas.Profile.ViewModels.Manage.AccountViewModel
@{
    Layout = "";
}

@using (Html.BeginForm("EditAccount", "Manage", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="load-action" data-url="@Url.Action("Get", "CopyManager", new { area = "Admin", copyName = "Update Account Message" })"></div>

    @Html.ValidationMessage("EmailAddress")
    <div class="control-group">
        @Html.LabelFor(x => x.EmailAddress)
        @Html.TextBoxFor(x => x.EmailAddress, new { placeholder = "Email Address" })
    </div>

    @Html.ValidationMessage("GivenName")
    <div class="control-group">
        @Html.LabelFor(x => x.GivenName)
        @Html.TextBoxFor(x => x.GivenName, new { placeholder = "First Name" })
    </div>

    @Html.ValidationMessage("FamilyName")
    <div class="control-group">
        @Html.LabelFor(x => x.FamilyName)
        @Html.TextBoxFor(x => x.FamilyName, new { placeholder = "Last Name" })
    </div>

    <div class="button-group float-container">
        <button class="btn primary">Update Account</button>
        <button class="btn" data-dismiss="modal">Cancel</button>
    </div>
}