@model Portal.CMS.Web.Areas.Profile.ViewModels.Manage.PasswordViewModel
@{
    Layout = "";
}

<style>
    .control-group label
    {
        width: 155px;
    }

    .control-group input
    {
        width: calc(100% - 160px);
    }
</style>

@using (Html.BeginForm("EditPassword", "Manage", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationMessage("NewPasswordMismatch")

    @Html.ValidationMessage("NewPassword")
    <div class="control-group">
        @Html.LabelFor(x => x.NewPassword)
        @Html.PasswordFor(x => x.NewPassword, new { placeholder = "New Password" })
    </div>

    @Html.ValidationMessage("ConfirmPassword")
    <div class="control-group">
        @Html.LabelFor(x => x.ConfirmPassword)
        @Html.PasswordFor(x => x.ConfirmPassword, new { placeholder = "Confirm Password" })
    </div>

    <div class="button-group float-container">
        <button class="btn primary">Change</button>
        <button class="btn" data-dismiss="modal">Cancel</button>
    </div>
}