@model Portal.CMS.Web.Areas.Admin.ViewModels.MediaManager.UploadImageViewModel
@{
    ViewBag.Title = "Upload Image";
    ViewBag.Icon = "/Areas/Admin/Content/Images/icon-media.png";
    Layout = "";
}

@using (Html.BeginForm("UploadImage", "MediaManager", FormMethod.Post, new { area = "Admin", id = "uploadImageForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.PostId)

    @Html.ValidationMessage("AttachedImage")

    <div class="control-group">
        @Html.LabelFor(x => x.AttachedImage)
        @Html.TextBoxFor(m => m.AttachedImage, new { @type = "file" })
    </div>

    <div class="control-group">
        @Html.LabelFor(x => x.ImageCategory)
        @Html.EnumDropDownListFor(m => m.ImageCategory, new { @class = "form-control" })
    </div>

    <div class="footer">
        <button class="btn primary">Upload Image</button>
        <button class="btn" data-dismiss="modal">Cancel</button>
    </div>
}