@model Portal.CMS.Web.Areas.Admin.ViewModels.MediaManager.UploadFontViewModel
@{
    ViewBag.Title = "Upload Font";
    Layout = "";
}

@using (Html.BeginForm("UploadFont", "MediaManager", FormMethod.Post, new { area = "Admin", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="alert alert-warning" role="alert">You can use fonts in your website Themes, visit the Theme Manager to use your fonts.</div>

    @Html.ValidationMessage("AttachedFont")
    <div class="control-group">
        @Html.LabelFor(x => x.AttachedFont)
        @Html.TextBoxFor(m => m.AttachedFont, new { @type = "file" })
    </div>

    <div class="control-group">
        @Html.LabelFor(x => x.FontName)
        @Html.TextBoxFor(m => m.FontName)
    </div>

    <div class="control-group">
        @Html.LabelFor(x => x.FontType)
        @Html.TextBoxFor(m => m.FontType)
    </div>

    <div class="footer">
        <button class="btn primary">Upload Font</button>
        <button class="btn" data-dismiss="modal">Cancel</button>
    </div>
}