@model Portal.CMS.Web.Areas.Admin.ViewModels.MediaManager.MediaViewModel
@{
    ViewBag.Title = "Media Manager";
    ViewBag.Icon = "/Areas/Admin/Content/Images/icon-media.png";
}

<style>
    @foreach(var font in Model.Fonts)
    {
        <text>@@font-face { font-family: '@font.FontName'; src: url('@font.FontPath') format('@font.FontType'); }</text>

        <text>div.font-@font.FontName { font-family: '@font.FontName'; }</text>
    }

    .admin-container { font-family: 'Emeric'; }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('.act.delete').hide();

        $(".act.delete").click(function (event) {
            var elementId = $(".thumbnail.selected:first").attr("id");
            var elementParts = elementId.split('-');
            var imageId = elementParts[elementParts.length - 1];
            $('#' + elementId).remove();

            var dataParams = { "imageId": imageId };
            $.ajax({
                data: dataParams,
                type: 'POST',
                cache: false,
                url: '/Admin/MediaManager/DeleteImage',
                success: function (data) { if (data.State === false) { alert("Error: The Page has lost synchronisation. Reloading Page..."); location.reload(); } },
            });
        });

        $(".thumbnail").click(function (event) {
            var elementId = $(this).attr("id");

            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                $('.act.delete').fadeOut(100);
            }
            else {
                $('.thumbnail.selected').removeClass('selected');
                $('.act.delete').fadeIn(100);
                $(this).addClass('selected');
            }
        }).children().click(function (e) {
            return false;
        });;
    });
</script>

@Html.Action("Render", "QuickAccess", new { area = "Admin", pageType = QuickAccessPageType.MediaManager_Admin })

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#tab-general" aria-controls="tab-general" role="tab" data-toggle="tab"><span class="fa fa-file-image-o"></span>General</a></li>
    <li role="presentation" class=""><a href="#tab-icon" aria-controls="tab-icon" role="tab" data-toggle="tab"><span class="fa fa-circle-o"></span>Icon</a></li>
    <li role="presentation" class=""><a href="#tab-screenshot" aria-controls="tab-screenshot" role="tab" data-toggle="tab"><span class="fa fa-camera"></span>Screenshot</a></li>
    <li role="presentation" class=""><a href="#tab-texture" aria-controls="tab-texture" role="tab" data-toggle="tab"><span class="fa fa-leaf"></span>Texture</a></li>
    <li role="presentation" class=""><a href="#tab-fonts" aria-controls="tab-texture" role="tab" data-toggle="tab"><span class="fa fa-font"></span>Fonts</a></li>
</ul>
<div class="row image-selector single x5">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab-general">
            @foreach (var image in Model.Images.Where(x => x.ImageCategory == ImageCategory.General))
            {
                <img id="image-@image.ImageId" class="thumbnail" alt="Image Thumbnail" src="@image.ImagePath" />
            }
        </div>
        <div role="tabpanel" class="tab-pane" id="tab-icon">
            @foreach (var image in Model.Images.Where(x => x.ImageCategory == ImageCategory.Icon))
            {
                <img id="image-@image.ImageId" class="thumbnail" alt="Image Thumbnail" src="@image.ImagePath" />
            }
        </div>
        <div role="tabpanel" class="tab-pane" id="tab-screenshot">
            @foreach (var image in Model.Images.Where(x => x.ImageCategory == ImageCategory.Screenshot))
            {
                <img id="image-@image.ImageId" class="thumbnail" alt="Image Thumbnail" src="@image.ImagePath" />
            }
        </div>
        <div role="tabpanel" class="tab-pane" id="tab-texture">
            @foreach (var image in Model.Images.Where(x => x.ImageCategory == ImageCategory.Texture))
            {
                <img id="image-@image.ImageId" class="thumbnail" alt="Image Thumbnail" src="@image.ImagePath" />
            }
        </div>
        <div role="tabpanel" class="tab-pane" id="tab-fonts">
            <div class="row">
                @foreach (var font in Model.Fonts)
                {
                    <div class="col-xs-12 col-md-6 col-lg-4">
                        <div class="box float-container font-@font.FontName" style="min-height: 260px; padding-bottom: 60px;">

                            <h3>@font.FontName</h3>
                            <p style="word-wrap: break-word;">ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
                            <p style="word-wrap: break-word;">abcdefghijklmnopqrstuvwaxyz</p>

                            <div class="admin-container x1">
                                <a href="@Url.Action("DeleteFont", "MediaManager", new { fontId = @font.FontId})" class="admin-item" data-title="Delete Font" data-container="body" data-toggle="confirmation" data-placement="top"><span class="fa fa-trash"></span>Delete</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>