@{
    Layout = "";
}

<style>
    .manage-profile h1
    {
        font-weight: normal;
        font-size: 28px !important;
        color: #636363;
    }

    .manage-profile h4
    {
        color: #636363;
    }

    .manage-profile p
    {
        color: #9b9b9b;
        font-size: 20px !important;
    }
</style>

<div class="box box-tall">
    <div class="box-title">My Profile</div>
    @if (UserHelper.IsLoggedIn)
    {
        <img class="avatar" alt="My Avatar" src="@UserHelper.AvatarImagePath" style="margin-bottom: 10px;" />
        <h4>@UserHelper.FullName</h4>
        <p>@UserHelper.EmailAddress</p>

        <div class="admin-container x2">
            <a href="@Url.Action("EditAvatar", "Manage", new { area = "Profile" })" c class="admin-item launch-modal" data-title="Edit Avatar"><span class="fa fa-picture-o"></span>Edit Avatar</a>
            <a href="@Url.Action("EditAccount", "Manage", new { area = "Profile" })" c class="admin-item launch-modal" data-title="Edit Details"><span class="fa fa-pencil"></span>Edit Details</a>
        </div>
    }
    else
    {
        Html.RenderPartial("_SignIn");
    }
</div>