@model Portal.CMS.Web.Areas.Admin.ViewModels.Media.MediaViewModel
@{
    ViewBag.Title = "Media Manager";
    ViewBag.Icon = "/Areas/Admin/Content/Images/icon-media.png";
}

<a href="@Url.Action("Upload", "Media")" class="action-container launch-modal" data-title="Upload Image">
    <div class="action"><span class="glyphicon glyphicon-plus"></span></div>
</a>

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#tab-general" aria-controls="tab-general" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-picture"></span>General</a></li>
    <li role="presentation" class=""><a href="#tab-icon" aria-controls="tab-icon" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-unchecked"></span>Icon</a></li>
    <li role="presentation" class=""><a href="#tab-screenshot" aria-controls="tab-screenshot" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-camera"></span>Screenshot</a></li>
    <li role="presentation" class=""><a href="#tab-texture" aria-controls="tab-texture" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-leaf"></span>Texture</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab-general">
        <div class="row image-container x5">
            @foreach (var image in Model.Images.Where(x => x.ImageCategory == Portal.CMS.Entities.Entities.Generic.ImageCategory.General))
            {
                <img class="thumbnail" src="@image.ImagePath" />
            }
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab-icon">
        <div class="row image-container x5">
            @foreach (var image in Model.Images.Where(x => x.ImageCategory == Portal.CMS.Entities.Entities.Generic.ImageCategory.Icon))
            {
                <img class="thumbnail" src="@image.ImagePath" />
            }
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab-screenshot">
        <div class="row image-container x5">
            @foreach (var image in Model.Images.Where(x => x.ImageCategory == Portal.CMS.Entities.Entities.Generic.ImageCategory.Screenshot))
            {
                <img class="thumbnail" src="@image.ImagePath" />
            }
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab-texture">
        <div class="row image-container x5">
            @foreach (var image in Model.Images.Where(x => x.ImageCategory == Portal.CMS.Entities.Entities.Generic.ImageCategory.Texture))
            {
                <img class="thumbnail" src="@image.ImagePath" />
            }
        </div>
    </div>
</div>