@model Portal.CMS.Entities.Entities.Post

<div class="comment-item">
    @if (UserHelper.IsLoggedIn)
    {
        using (Html.BeginForm("Comment", "Read", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("postId", Model.PostId)

            <textarea id="commentBody" name="commentBody"></textarea>
            <button class="btn btn"><span class="fa fa-comment"></span>Add Comment</button>
        }
    }
    else
    {
        <p><span class="fa fa-lock"></span>You need to <a href="@Url.Action("Login", "Authentication", new { area = "Admin" })" class="launch-modal" data-title="Sign In">Login</a> or <a href="@Url.Action("Register", "Authentication", new { area = "Admin" })" class="launch-modal" data-title="Register Account">Register</a> to comment.</p>
    }
</div>

@if (!Model.PostComments.Any())
{
    <br />
    <div class="load-action" data-url="@Url.Action("Get", "CopyManager", new { area = "Admin", copyName = "No Comments Message" })"></div>
}

@foreach (var comment in Model.PostComments)
{
    <div class="float-container comment-item">
        <h4>@comment.User.GivenName @comment.User.FamilyName <span class="small">at @comment.DateAdded.ToString("dd MMM yyyy HH:mm")</span></h4>
        <p>@comment.CommentBody</p>
    </div>
}