@model List<Portal.CMS.Entities.Entities.Post>
@{
    var isEditor = UserHelper.IsEditor;
}
@if (!Model.Any())
{
    <div class="load-action" data-url="@Url.Action("Get", "CopyManager", new { area = "Admin", copyName = "No Posts Message" })"></div>
}

@foreach (var post in Model)
{
    <a class="col-xs-12" href="@Url.Action("Index", "Read", new { area = "Blog", id = @post.PostId })">
        <div class="box article-item float-container" style="@string.Format("background-image: url('{0}'); color: white;", post.BannerImageUrl())">
            <div class="inner">
                <div class="category-item"><span class="fa fa-tag"></span>@post.PostCategory.PostCategoryName</div>
                @if (isEditor)
                {
                    <div href="@Url.Action("Edit", "BlogManager", new { area = "Admin", postId = @post.PostId })" class="category-item launch-modal" data-title="Edit Post"><span class="fa fa-pencil"></span>Edit</div>
                }
                <div title="Views" class="hidden-xs category-item"><span class="fa fa-users"></span>@post.PostViews.Count()</div>
                <div title="Comments" class="hidden-xs category-item"><span class="fa fa-comment"></span>@post.PostComments.Count()</div>
                <h3>@post.PostTitle</h3>
                <p>@post.PostDescription</p>
            </div>
            <div class="overlay overlay-medium"></div>
        </div>
    </a>
}