@model Portal.CMS.Web.Areas.Admin.ViewModels.SettingManager.SetupViewModel
@{
    Layout = "";
}

<style>
    .control-group label
    {
        width: 190px;
    }

    .control-group input
    {
        width: calc(100% - 190px);
    }
</style>

@using (Html.BeginForm("Setup", "SettingManager", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#tab-general" aria-controls="tab-general" role="tab" data-toggle="tab">General</a></li>
        <li role="presentation" class=""><a href="#tab-email" aria-controls="tab-email" role="tab" data-toggle="tab">Email</a></li>
        <li role="presentation" class=""><a href="#tab-analytics" aria-controls="tab-analytics" role="tab" data-toggle="tab">Analytics</a></li>
        <li role="presentation" class=""><a href="#tab-cdn" aria-controls="tab-cdn" role="tab" data-toggle="tab">CDN</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab-general">
            <h4>Welcome to Portal CMS</h4>
            <p>There are a few small details you may wish to configure now to get your site setup.</p>

            <br />
            <div class="alert alert-warning" role="alert">The information on this tab is displayed in search results.</div>

            @Html.ValidationMessage("WebsiteName")
            <div class="control-group">
                @Html.LabelFor(x => x.WebsiteName)
                @Html.TextBoxFor(x => x.WebsiteName)
            </div>

            <div class="control-group control-textarea float-container">
                @Html.LabelFor(x => x.WebsiteDescription)
                @Html.TextAreaFor(x => x.WebsiteDescription)
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab-email">
            <h4>SendGrid Email Delivery</h4>
            <p>SendGrid is a reliable and easy to use method of email delivery, You can send 12,000 emails for free every month. <a href="https://sendgrid.com/" target="_blank">Learn More about SendGrid.</a></p>
            <br />
            <div class="alert alert-warning" role="alert">When you configure email settings, users can request a forgotten password email token.</div>
            <div class="control-group">
                @Html.LabelFor(x => x.EmailFromAddress)
                @Html.TextBoxFor(x => x.EmailFromAddress)
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.SendGridApiKey)
                @Html.TextBoxFor(x => x.SendGridApiKey)
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab-analytics">
            <h4>Google Analytics Integration</h4>
            <p>Portal CMS collects its own Analytics to give you real time and useful information about how your website is being used. You can also configure Portal CMS to use Google Analytics.</p>
            <br />
            <div class="alert alert-warning" role="alert">When you submit your Google Analytics Tracking Code, we will start pushing data to your Analytics account.</div>
            <div class="control-group">
                @Html.LabelFor(x => x.GoogleAnalyticsId)
                @Html.TextBoxFor(x => x.GoogleAnalyticsId)
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab-cdn">
            <h4>Content Delivery Network</h4>
            <p>Portal CMS can utilise a Content Delivery Network that is setup to cache the content of your website. When configured Portal CMS will load your Uploaded Images from the CDN.</p>
            <br />
            <div class="alert alert-warning" role="alert">Please enter your CDN Address below. For example: http://cdn.portalcms.online</div>
            <div class="control-group">
                @Html.LabelFor(x => x.CDNAddress)
                @Html.TextBoxFor(x => x.CDNAddress)
            </div>
        </div>
    </div>

    <div class="footer">
        <button class="btn primary">Save</button>
        <button class="btn" data-dismiss="modal">Cancel</button>
    </div>
}