@model Portal.CMS.Entities.Entities.Page
@{
    ViewBag.Title = "Error";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en-gb">
<head>
    <title>Portal CMS: @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

    @RenderSection("Styles", false)
    @Styles.Render("~/Plugins/Bootstrap/Styles")
    @Styles.Render("~/Plugins/FontAwesome/Styles")
    @Styles.Render("~/Resources/CSS/Framework")

    @Scripts.Render("~/Plugins/JQuery/Scripts")
    @Scripts.Render("~/Plugins/JQueryUI/Scripts")
    @RenderSection("HEADScripts", false)
    @Html.Partial("_Analytics")
</head>
<body class="page-builder">
    <nav class="navbar navbar-inverse"><div class="container-fluid"><div class="navbar-header"><a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = "" })">Portal CMS</a></div></div></nav>

    @RenderBody()

    @Scripts.Render("~/Plugins/Bootstrap/Scripts")
    @Scripts.Render("~/Resources/JavaScript/Framework")
    @RenderSection("DOMScripts", false)
</body>
</html>